openapi: 3.1.0
info:
  title: Svenesis NINA-PM API
  version: "1"
  description: "Generiert aus packages/shared (zod) – nicht von Hand ändern. Fehler als application/problem+json mit Codes aus docs/contracts/errors.json. Nicht-GET unter /api/auth, /api/web/v1, /api/system/v1 verlangt X-NPM-Request: 1 (SV-04)."
servers:
  - url: https://nina-pm.svenesis.org
components:
  schemas:
    PublicBanner:
      type: object
      properties:
        banner:
          type:
            - object
            - "null"
          properties:
            de:
              type: string
            en:
              type: string
          required:
            - de
            - en
      required:
        - banner
    InvitationClaimResponse:
      type: object
      properties:
        tenantName:
          type: string
        role:
          type: string
          enum:
            - owner
            - admin
            - user
      required:
        - tenantName
        - role
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        code:
          type: string
          enum:
            - validation.failed
            - auth.unauthenticated
            - auth.no_membership
            - auth.identity_blocked
            - auth.mfa_required
            - auth.csrf_missing
            - auth.rate_limited
            - permission.denied
            - tenant.not_found
            - tenant.locked
            - resource.not_found
            - resource.version_conflict
            - resource.in_use
            - resource.read_only
            - invitation.invalid
            - invitation.expired
            - invitation.already_member
            - member.owner_protected
            - super_user.last_protected
            - member.cannot_change_self
            - member.owner_cannot_leave
            - owner_transfer.target_invalid
            - approval.not_allowed
            - approval.own_object
            - approval.incomplete
            - approval.rig_conflict
            - vote.own_object
            - vote.closed
            - ranking.incomplete
            - change_request.conflict
            - change_request.not_open
            - transit.lock_not_allowed
            - transit.deadline_passed
            - rig.sort_chain_invalid
            - rig.flip_settings_invalid
            - discord.webhook_invalid
            - discord.test_failed
            - job.not_found
            - file.too_large
            - file.type_not_allowed
            - nina.token_invalid
            - engine.incompatible
            - session.rig_busy
            - session.unknown
            - session.closed
            - capture.batch_too_large
            - plan.targets_etag_mismatch
            - canonical.non_finite
            - system.maintenance
            - internal.error
            - transit.share_mismatch
            - transit.too_many_open
            - transit.window_overlap
            - transit.ephemeris_stale
            - exo.epoch_out_of_range
            - transit.result_time_system
            - validation.min_time_too_small
            - project.status_transition_invalid
            - rig.change_has_captures
            - correction.conflict
            - capture.assign_mismatch
            - line.locked_by_captures
            - nina.night_invalid
            - engine.input_invalid
        requestId:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              path:
                type: string
              message:
                type: string
            required:
              - path
              - message
      required:
        - type
        - title
        - status
        - code
    InvitationClaimRequest:
      type: object
      properties:
        token:
          type: string
          pattern: ^[A-Za-z0-9_-]{43}$
      required:
        - token
    InvitationPreview:
      type: object
      properties:
        tenantName:
          type: string
        role:
          type: string
          enum:
            - owner
            - admin
            - user
        expiresAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - tenantName
        - role
        - expiresAt
    InvitationPreviewRequest:
      type: object
      properties:
        token:
          type: string
          pattern: ^[A-Za-z0-9_-]{43}$
      required:
        - token
    MeResponse:
      type: object
      properties:
        identity:
          type: object
          properties:
            id:
              type: string
              format: uuid
              description: UUID
            discordUserId:
              type: string
            username:
              type: string
            globalName:
              type:
                - string
                - "null"
            avatarHash:
              type:
                - string
                - "null"
            mfa:
              type: boolean
          required:
            - id
            - discordUserId
            - username
            - globalName
            - avatarHash
            - mfa
        context:
          type: string
          enum:
            - tenant
            - system
            - select
        tenant:
          type:
            - object
            - "null"
          properties:
            id:
              type: string
              format: uuid
              description: UUID
            key:
              type: string
            name:
              type: string
            timeZone:
              type: string
          required:
            - id
            - key
            - name
            - timeZone
        member:
          type:
            - object
            - "null"
          properties:
            id:
              type: string
              format: uuid
              description: UUID
            displayName:
              type: string
            role:
              type: string
              enum:
                - owner
                - admin
                - user
            effectiveRole:
              type: string
              enum:
                - admin
                - user
          required:
            - id
            - displayName
            - role
            - effectiveRole
        isSuperUser:
          type: boolean
        mfaRequired:
          type: boolean
        memberships:
          type: array
          items:
            type: object
            properties:
              tenantKey:
                type: string
              tenantName:
                type: string
              role:
                type: string
                enum:
                  - owner
                  - admin
                  - user
            required:
              - tenantKey
              - tenantName
              - role
      required:
        - identity
        - context
        - tenant
        - member
        - isSuperUser
        - mfaRequired
        - memberships
    ContextRequest:
      anyOf:
        - type: object
          properties:
            tenantKey:
              type: string
              pattern: ^[a-z0-9-]{3,32}$
          required:
            - tenantKey
          additionalProperties: false
        - type: object
          properties:
            system:
              type: boolean
              enum:
                - true
          required:
            - system
          additionalProperties: false
    SessionList:
      type: object
      properties:
        sessions:
          type: array
          items:
            $ref: "#/components/schemas/SessionView"
        lastLoginAt:
          type:
            - string
            - "null"
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - sessions
        - lastLoginAt
    SessionView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        current:
          type: boolean
        device:
          type:
            - string
            - "null"
        ipTruncated:
          type:
            - string
            - "null"
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
        lastSeenAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - id
        - current
        - device
        - ipTruncated
        - createdAt
        - lastSeenAt
    JobView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        kind:
          type: string
          enum:
            - multi_sim
            - impact
            - effort
            - session_close
            - session_report
            - discord_post
            - export
            - import
            - thumbnail
            - transit_result_parse
            - catalog_refresh
            - forecast
            - reconcile
            - weather
            - noop
        status:
          type: string
          enum:
            - pending
            - running
            - done
            - failed
        attempts:
          type: integer
        errorCode:
          type:
            - string
            - "null"
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
        startedAt:
          type:
            - string
            - "null"
          format: date-time
          example: 2026-09-18T13:00:00Z
        finishedAt:
          type:
            - string
            - "null"
          format: date-time
          example: 2026-09-18T13:00:00Z
        hasResult:
          type: boolean
      required:
        - id
        - kind
        - status
        - attempts
        - errorCode
        - createdAt
        - startedAt
        - finishedAt
        - hasResult
    DownloadUrl:
      type: object
      properties:
        url:
          type: string
          format: uri
        expiresAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - url
        - expiresAt
    MemberView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        displayName:
          type: string
        discordUsername:
          type: string
        avatarHash:
          type:
            - string
            - "null"
        role:
          type: string
          enum:
            - owner
            - admin
            - user
        status:
          type: string
          enum:
            - active
            - disabled
            - removed
        mfa:
          type: boolean
        rightsDormant:
          type: boolean
        lastLoginAt:
          type:
            - string
            - "null"
          format: date-time
          example: 2026-09-18T13:00:00Z
        objects:
          type: object
          properties:
            draft:
              type: integer
            submitted:
              type: integer
            approved:
              type: integer
          required:
            - draft
            - submitted
            - approved
      required:
        - id
        - displayName
        - discordUsername
        - avatarHash
        - role
        - status
        - mfa
        - rightsDormant
        - lastLoginAt
        - objects
    MemberPatch:
      type: object
      properties:
        displayName:
          type: string
          minLength: 1
          maxLength: 80
        status:
          type: string
          enum:
            - active
            - disabled
      additionalProperties: false
    RoleChangeRequest:
      type: object
      properties:
        role:
          type: string
          enum:
            - admin
            - user
        reason:
          type: string
          maxLength: 500
      required:
        - role
      additionalProperties: false
    OwnerTransferRequest:
      type: object
      properties:
        memberId:
          type: string
          format: uuid
          description: UUID
      required:
        - memberId
      additionalProperties: false
    InvitationCreated:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        role:
          type: string
          enum:
            - owner
            - admin
            - user
        link:
          type: string
          format: uri
        expiresAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - id
        - role
        - link
        - expiresAt
    CreateUserInvitationRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        discordUserId:
          type: string
          pattern: ^\d{5,25}$
        validDays:
          type: integer
          minimum: 1
          maximum: 30
          default: 7
        note:
          type: string
          maxLength: 500
        maxUses:
          type: integer
          minimum: 1
          maximum: 50
          default: 1
      required:
        - id
      additionalProperties: false
    CreateSingleUseInvitationRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        discordUserId:
          type: string
          pattern: ^\d{5,25}$
        validDays:
          type: integer
          minimum: 1
          maximum: 30
          default: 7
        note:
          type: string
          maxLength: 500
      required:
        - id
      additionalProperties: false
    InvitationView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        role:
          type: string
          enum:
            - owner
            - admin
            - user
        discordUserId:
          type:
            - string
            - "null"
        note:
          type:
            - string
            - "null"
        maxUses:
          type: integer
        usedCount:
          type: integer
        expiresAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
        revokedAt:
          type:
            - string
            - "null"
          format: date-time
          example: 2026-09-18T13:00:00Z
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
        ownerOnly:
          type: boolean
      required:
        - id
        - role
        - discordUserId
        - note
        - maxUses
        - usedCount
        - expiresAt
        - revokedAt
        - createdAt
        - ownerOnly
    Preferences:
      type: object
      properties:
        ui.theme:
          type: string
          enum:
            - light
            - dark
        ui.density:
          type: string
          enum:
            - compact
            - normal
            - wide
        ui.navCollapsed:
          type: boolean
        project.defaultConditions:
          type: object
          properties:
            minAltitudeDeg:
              type: number
              minimum: 0
              maximum: 90
            minTimeOnTargetH:
              type: number
              exclusiveMinimum: 0
              maximum: 24
            twilight:
              type: string
              enum:
                - astronomical
                - nautical
                - civil
            moonAvoidanceEnabled:
              type: boolean
            moonMustBeDown:
              type: boolean
            moonSeparationDeg:
              type: number
              minimum: 0
              maximum: 180
            moonWidthDays:
              type: number
              minimum: 0
            moonRelaxScale:
              type: number
              minimum: 0
            moonMinAltDeg:
              type: number
              minimum: -90
              maximum: 90
            moonMaxAltDeg:
              type: number
              minimum: -90
              maximum: 90
            moonMaxIlluminationPct:
              type: number
              minimum: 0
              maximum: 100
          required:
            - minAltitudeDeg
            - minTimeOnTargetH
            - twilight
            - moonAvoidanceEnabled
            - moonMustBeDown
            - moonSeparationDeg
            - moonWidthDays
            - moonRelaxScale
            - moonMinAltDeg
            - moonMaxAltDeg
            - moonMaxIlluminationPct
          additionalProperties: false
    PreferenceValue:
      type: object
      properties:
        value: {}
    NotificationList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/NotificationView"
        unreadCount:
          type: integer
        nextCursor:
          type:
            - string
            - "null"
      required:
        - items
        - unreadCount
        - nextCursor
    NotificationView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        kind:
          type: string
          enum:
            - submission.new
            - submission.withdrawn
            - submission.edited_by_admin
            - approval.approved
            - approval.returned
            - approval.rejected
            - approval.expired
            - deadline.near
            - change_request.new
            - change_request.decided
            - vote.subject_changed
            - vote.subject_resubmitted
            - project.completed
            - transit.confirmation_needed
            - role.changed
            - owner.reassigned
            - alert.rig_busy
            - alert.session_no_heartbeat
            - alert.plugin_dead_letters
            - alert.nina_settings_mismatch
            - alert.discord_channel_failed
        payload:
          type: object
          additionalProperties: {}
        projectId:
          type:
            - string
            - "null"
          format: uuid
          description: UUID
        readAt:
          type:
            - string
            - "null"
          format: date-time
          example: 2026-09-18T13:00:00Z
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - id
        - kind
        - payload
        - projectId
        - readAt
        - createdAt
    UnreadCount:
      type: object
      properties:
        unreadCount:
          type: integer
      required:
        - unreadCount
    MarkNotificationsRead:
      anyOf:
        - type: object
          properties:
            ids:
              type: array
              items:
                type: string
                format: uuid
                description: UUID
              minItems: 1
              maxItems: 200
          required:
            - ids
          additionalProperties: false
        - type: object
          properties:
            all:
              type: boolean
              enum:
                - true
          required:
            - all
          additionalProperties: false
    SystemAuditList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/SystemAuditEntry"
        nextCursor:
          type:
            - string
            - "null"
      required:
        - items
        - nextCursor
    SystemAuditEntry:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        actor:
          type: string
          enum:
            - super_user
            - ops_cli
        actorName:
          type:
            - string
            - "null"
        tenantId:
          type:
            - string
            - "null"
          format: uuid
          description: UUID
        tenantKey:
          type:
            - string
            - "null"
        action:
          type: string
        details:
          type: object
          additionalProperties: {}
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - id
        - actor
        - actorName
        - tenantId
        - tenantKey
        - action
        - details
        - createdAt
    ChangeLogList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ChangeLogEntry"
        nextCursor:
          type:
            - string
            - "null"
      required:
        - items
        - nextCursor
    ChangeLogEntry:
      type: object
      properties:
        id:
          type: string
          format: uuid
        entity:
          type: string
        entityId:
          type: string
          format: uuid
        actorName:
          type:
            - string
            - "null"
        subjectName:
          type:
            - string
            - "null"
        action:
          type: string
        diff:
          type: object
          additionalProperties: {}
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - id
        - entity
        - entityId
        - actorName
        - subjectName
        - action
        - diff
        - createdAt
    TenantSettingsView:
      type: object
      properties:
        displayName:
          type: string
        settings:
          $ref: "#/components/schemas/TenantSettings"
        updatedAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - displayName
        - settings
        - updatedAt
    TenantSettings:
      type: object
      properties:
        tenantTimezone:
          type: string
          minLength: 1
          maxLength: 64
        defaultLanguage:
          type: string
          enum:
            - de
            - en
        userCorrections:
          type: boolean
        exoUserLockNeedsAdmin:
          type: boolean
        exoUserMaxOpenLocks:
          type: integer
          minimum: 1
          maximum: 20
        autoReactivateOnRemaining:
          type: boolean
        autoReadyToProcess:
          type: boolean
        adminSelfApproval:
          type: boolean
        approvalDeadlineDays:
          type:
            - integer
            - "null"
          minimum: 1
          maximum: 365
      required:
        - tenantTimezone
        - defaultLanguage
        - userCorrections
        - exoUserLockNeedsAdmin
        - exoUserMaxOpenLocks
        - autoReactivateOnRemaining
        - autoReadyToProcess
        - adminSelfApproval
        - approvalDeadlineDays
      additionalProperties: false
    TenantSettingsPatch:
      type: object
      properties:
        displayName:
          type: string
          minLength: 1
          maxLength: 120
        settings:
          type: object
          properties:
            tenantTimezone:
              type: string
              minLength: 1
              maxLength: 64
            defaultLanguage:
              type: string
              enum:
                - de
                - en
            userCorrections:
              type: boolean
            exoUserLockNeedsAdmin:
              type: boolean
            exoUserMaxOpenLocks:
              type: integer
              minimum: 1
              maximum: 20
            autoReactivateOnRemaining:
              type: boolean
            autoReadyToProcess:
              type: boolean
            adminSelfApproval:
              type: boolean
            approvalDeadlineDays:
              type:
                - integer
                - "null"
              minimum: 1
              maximum: 365
          additionalProperties: false
      additionalProperties: false
    SiteView:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        pierName:
          type:
            - string
            - "null"
          maxLength: 120
          default: null
        observatoryType:
          type: string
          enum:
            - open_air
            - dome
            - roll_off_roof
            - fixed_pier
            - portable
            - remote_hosted
          default: open_air
        latitudeDeg:
          type: number
          minimum: -89.9
          maximum: 89.9
        longitudeDeg:
          type: number
          minimum: -180
          maximum: 180
        elevationM:
          type: number
          minimum: -430
          maximum: 9000
          default: 0
        bortleClass:
          type:
            - number
            - "null"
          minimum: 1
          maximum: 9
          default: null
        timeZone:
          type: string
          minLength: 1
          maxLength: 64
        weatherSafetyUrl:
          type:
            - string
            - "null"
          maxLength: 500
          format: uri
          default: null
        notes:
          type: string
          maxLength: 4000
          default: ""
        id:
          type: string
          format: uuid
          description: UUID
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
        updatedAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - name
        - latitudeDeg
        - longitudeDeg
        - timeZone
        - id
        - createdAt
        - updatedAt
      additionalProperties: false
    SiteCreate:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        pierName:
          type:
            - string
            - "null"
          maxLength: 120
          default: null
        observatoryType:
          type: string
          enum:
            - open_air
            - dome
            - roll_off_roof
            - fixed_pier
            - portable
            - remote_hosted
          default: open_air
        latitudeDeg:
          type: number
          minimum: -89.9
          maximum: 89.9
        longitudeDeg:
          type: number
          minimum: -180
          maximum: 180
        elevationM:
          type: number
          minimum: -430
          maximum: 9000
          default: 0
        bortleClass:
          type:
            - number
            - "null"
          minimum: 1
          maximum: 9
          default: null
        timeZone:
          type: string
          minLength: 1
          maxLength: 64
        weatherSafetyUrl:
          type:
            - string
            - "null"
          maxLength: 500
          format: uri
          default: null
        notes:
          type: string
          maxLength: 4000
          default: ""
        id:
          type: string
          format: uuid
          description: UUID
      required:
        - name
        - latitudeDeg
        - longitudeDeg
        - timeZone
        - id
      additionalProperties: false
    SiteInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        pierName:
          type:
            - string
            - "null"
          maxLength: 120
          default: null
        observatoryType:
          type: string
          enum:
            - open_air
            - dome
            - roll_off_roof
            - fixed_pier
            - portable
            - remote_hosted
          default: open_air
        latitudeDeg:
          type: number
          minimum: -89.9
          maximum: 89.9
        longitudeDeg:
          type: number
          minimum: -180
          maximum: 180
        elevationM:
          type: number
          minimum: -430
          maximum: 9000
          default: 0
        bortleClass:
          type:
            - number
            - "null"
          minimum: 1
          maximum: 9
          default: null
        timeZone:
          type: string
          minLength: 1
          maxLength: 64
        weatherSafetyUrl:
          type:
            - string
            - "null"
          maxLength: 500
          format: uri
          default: null
        notes:
          type: string
          maxLength: 4000
          default: ""
      required:
        - name
        - latitudeDeg
        - longitudeDeg
        - timeZone
      additionalProperties: false
    SiteLinkView:
      type: object
      properties:
        siteId:
          type: string
          format: uuid
          description: UUID
        serviceType:
          type: string
          minLength: 1
          maxLength: 40
        name:
          type: string
          minLength: 1
          maxLength: 120
        remoteIdOrUrl:
          type: string
          minLength: 1
          maxLength: 500
        notes:
          type: string
          maxLength: 4000
          default: ""
        isDefault:
          type: boolean
          default: false
        id:
          type: string
          format: uuid
          description: UUID
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - siteId
        - serviceType
        - name
        - remoteIdOrUrl
        - id
        - createdAt
      additionalProperties: false
    SiteLinkCreate:
      type: object
      properties:
        siteId:
          type: string
          format: uuid
          description: UUID
        serviceType:
          type: string
          minLength: 1
          maxLength: 40
        name:
          type: string
          minLength: 1
          maxLength: 120
        remoteIdOrUrl:
          type: string
          minLength: 1
          maxLength: 500
        notes:
          type: string
          maxLength: 4000
          default: ""
        isDefault:
          type: boolean
          default: false
        id:
          type: string
          format: uuid
          description: UUID
      required:
        - siteId
        - serviceType
        - name
        - remoteIdOrUrl
        - id
      additionalProperties: false
    SiteLinkInput:
      type: object
      properties:
        siteId:
          type: string
          format: uuid
          description: UUID
        serviceType:
          type: string
          minLength: 1
          maxLength: 40
        name:
          type: string
          minLength: 1
          maxLength: 120
        remoteIdOrUrl:
          type: string
          minLength: 1
          maxLength: 500
        notes:
          type: string
          maxLength: 4000
          default: ""
        isDefault:
          type: boolean
          default: false
      required:
        - siteId
        - serviceType
        - name
        - remoteIdOrUrl
      additionalProperties: false
    TelescopeView:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        brand:
          type: string
          maxLength: 120
          default: ""
        model:
          type: string
          maxLength: 120
          default: ""
        opticalDesign:
          type: string
          enum:
            - apochromatic_refractor
            - achromat
            - newtonian
            - rc
            - sct
            - maksutov
            - cdk
            - cassegrain
            - rasa
        apertureMm:
          type: number
          exclusiveMinimum: 0
        focalLengthMm:
          type: number
          exclusiveMinimum: 0
        reducerFactor:
          type: number
          exclusiveMinimum: 0
          default: 1
        obstructionPct:
          type: number
          minimum: 0
          maximum: 100
          default: 0
        imageCircleMm:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        backfocusMm:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        weightKg:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        notes:
          type: string
          maxLength: 4000
          default: ""
        id:
          type: string
          format: uuid
          description: UUID
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
        updatedAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - name
        - opticalDesign
        - apertureMm
        - focalLengthMm
        - id
        - createdAt
        - updatedAt
      additionalProperties: false
    TelescopeCreate:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        brand:
          type: string
          maxLength: 120
          default: ""
        model:
          type: string
          maxLength: 120
          default: ""
        opticalDesign:
          type: string
          enum:
            - apochromatic_refractor
            - achromat
            - newtonian
            - rc
            - sct
            - maksutov
            - cdk
            - cassegrain
            - rasa
        apertureMm:
          type: number
          exclusiveMinimum: 0
        focalLengthMm:
          type: number
          exclusiveMinimum: 0
        reducerFactor:
          type: number
          exclusiveMinimum: 0
          default: 1
        obstructionPct:
          type: number
          minimum: 0
          maximum: 100
          default: 0
        imageCircleMm:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        backfocusMm:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        weightKg:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        notes:
          type: string
          maxLength: 4000
          default: ""
        id:
          type: string
          format: uuid
          description: UUID
      required:
        - name
        - opticalDesign
        - apertureMm
        - focalLengthMm
        - id
      additionalProperties: false
    TelescopeInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        brand:
          type: string
          maxLength: 120
          default: ""
        model:
          type: string
          maxLength: 120
          default: ""
        opticalDesign:
          type: string
          enum:
            - apochromatic_refractor
            - achromat
            - newtonian
            - rc
            - sct
            - maksutov
            - cdk
            - cassegrain
            - rasa
        apertureMm:
          type: number
          exclusiveMinimum: 0
        focalLengthMm:
          type: number
          exclusiveMinimum: 0
        reducerFactor:
          type: number
          exclusiveMinimum: 0
          default: 1
        obstructionPct:
          type: number
          minimum: 0
          maximum: 100
          default: 0
        imageCircleMm:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        backfocusMm:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        weightKg:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        notes:
          type: string
          maxLength: 4000
          default: ""
      required:
        - name
        - opticalDesign
        - apertureMm
        - focalLengthMm
      additionalProperties: false
    CameraView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        name:
          type: string
        brand:
          type: string
        model:
          type: string
        sensorName:
          type: string
        widthPx:
          type: integer
        heightPx:
          type: integer
        pixelSizeUm:
          type: number
        bitDepth:
          type: integer
        isCooled:
          type: boolean
        coolingSetpointC:
          type:
            - number
            - "null"
        coolingToleranceC:
          type: number
        isColor:
          type: boolean
        readNoiseE:
          type:
            - number
            - "null"
        fullWellE:
          type:
            - number
            - "null"
        gainEPerAdu:
          type:
            - number
            - "null"
        quantumEfficiencyPct:
          type:
            - number
            - "null"
        darkCurrentES20c:
          type:
            - number
            - "null"
        defaultGain:
          type:
            - integer
            - "null"
        defaultOffset:
          type:
            - integer
            - "null"
        defaultBinning:
          type: integer
        defaultReadoutMode:
          type: string
        supportedBinning:
          type: array
          items:
            type: integer
        gainModes:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                minLength: 1
                maxLength: 60
              gain:
                type: integer
              readNoiseE:
                type:
                  - number
                  - "null"
                minimum: 0
                default: null
              fullWellE:
                type:
                  - number
                  - "null"
                exclusiveMinimum: 0
                default: null
              ePerAdu:
                type:
                  - number
                  - "null"
                exclusiveMinimum: 0
                default: null
            required:
              - name
              - gain
            additionalProperties: false
        readoutModes:
          type: array
          items:
            type: string
        ninaReported: {}
        notes:
          type: string
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
        updatedAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - id
        - name
        - brand
        - model
        - sensorName
        - widthPx
        - heightPx
        - pixelSizeUm
        - bitDepth
        - isCooled
        - coolingSetpointC
        - coolingToleranceC
        - isColor
        - readNoiseE
        - fullWellE
        - gainEPerAdu
        - quantumEfficiencyPct
        - darkCurrentES20c
        - defaultGain
        - defaultOffset
        - defaultBinning
        - defaultReadoutMode
        - supportedBinning
        - gainModes
        - readoutModes
        - notes
        - createdAt
        - updatedAt
    CameraCreate:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        brand:
          type: string
          maxLength: 120
          default: ""
        model:
          type: string
          maxLength: 120
          default: ""
        sensorName:
          type: string
          maxLength: 120
          default: ""
        widthPx:
          type: integer
          exclusiveMinimum: 0
        heightPx:
          type: integer
          exclusiveMinimum: 0
        pixelSizeUm:
          type: number
          exclusiveMinimum: 0
        bitDepth:
          type: integer
          minimum: 8
          maximum: 32
          default: 16
        isCooled:
          type: boolean
          default: true
        coolingSetpointC:
          type:
            - number
            - "null"
          minimum: -60
          maximum: 40
          default: null
        coolingToleranceC:
          type: number
          exclusiveMinimum: 0
          default: 1
        isColor:
          type: boolean
          default: false
        readNoiseE:
          type:
            - number
            - "null"
          minimum: 0
          default: null
        fullWellE:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        gainEPerAdu:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        quantumEfficiencyPct:
          type:
            - number
            - "null"
          minimum: 0
          maximum: 100
          default: 80
        darkCurrentES20c:
          type:
            - number
            - "null"
          minimum: 0
          default: 0.005
        defaultGain:
          type:
            - integer
            - "null"
          default: null
        defaultOffset:
          type:
            - integer
            - "null"
          default: null
        defaultBinning:
          type: integer
          minimum: 1
          maximum: 4
          default: 1
        defaultReadoutMode:
          type: string
          maxLength: 60
          default: Default
        supportedBinning:
          type: array
          items:
            type: integer
            minimum: 1
            maximum: 4
          minItems: 1
          maxItems: 4
          default:
            - 1
            - 2
        gainModes:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                minLength: 1
                maxLength: 60
              gain:
                type: integer
              readNoiseE:
                type:
                  - number
                  - "null"
                minimum: 0
                default: null
              fullWellE:
                type:
                  - number
                  - "null"
                exclusiveMinimum: 0
                default: null
              ePerAdu:
                type:
                  - number
                  - "null"
                exclusiveMinimum: 0
                default: null
            required:
              - name
              - gain
            additionalProperties: false
          maxItems: 20
          default: []
        readoutModes:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 60
          minItems: 1
          maxItems: 20
          default:
            - Default
        notes:
          type: string
          maxLength: 4000
          default: ""
        id:
          type: string
          format: uuid
          description: UUID
      required:
        - name
        - widthPx
        - heightPx
        - pixelSizeUm
        - id
      additionalProperties: false
    CameraInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        brand:
          type: string
          maxLength: 120
          default: ""
        model:
          type: string
          maxLength: 120
          default: ""
        sensorName:
          type: string
          maxLength: 120
          default: ""
        widthPx:
          type: integer
          exclusiveMinimum: 0
        heightPx:
          type: integer
          exclusiveMinimum: 0
        pixelSizeUm:
          type: number
          exclusiveMinimum: 0
        bitDepth:
          type: integer
          minimum: 8
          maximum: 32
          default: 16
        isCooled:
          type: boolean
          default: true
        coolingSetpointC:
          type:
            - number
            - "null"
          minimum: -60
          maximum: 40
          default: null
        coolingToleranceC:
          type: number
          exclusiveMinimum: 0
          default: 1
        isColor:
          type: boolean
          default: false
        readNoiseE:
          type:
            - number
            - "null"
          minimum: 0
          default: null
        fullWellE:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        gainEPerAdu:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        quantumEfficiencyPct:
          type:
            - number
            - "null"
          minimum: 0
          maximum: 100
          default: 80
        darkCurrentES20c:
          type:
            - number
            - "null"
          minimum: 0
          default: 0.005
        defaultGain:
          type:
            - integer
            - "null"
          default: null
        defaultOffset:
          type:
            - integer
            - "null"
          default: null
        defaultBinning:
          type: integer
          minimum: 1
          maximum: 4
          default: 1
        defaultReadoutMode:
          type: string
          maxLength: 60
          default: Default
        supportedBinning:
          type: array
          items:
            type: integer
            minimum: 1
            maximum: 4
          minItems: 1
          maxItems: 4
          default:
            - 1
            - 2
        gainModes:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                minLength: 1
                maxLength: 60
              gain:
                type: integer
              readNoiseE:
                type:
                  - number
                  - "null"
                minimum: 0
                default: null
              fullWellE:
                type:
                  - number
                  - "null"
                exclusiveMinimum: 0
                default: null
              ePerAdu:
                type:
                  - number
                  - "null"
                exclusiveMinimum: 0
                default: null
            required:
              - name
              - gain
            additionalProperties: false
          maxItems: 20
          default: []
        readoutModes:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 60
          minItems: 1
          maxItems: 20
          default:
            - Default
        notes:
          type: string
          maxLength: 4000
          default: ""
      required:
        - name
        - widthPx
        - heightPx
        - pixelSizeUm
      additionalProperties: false
    FilterView:
      type: object
      properties:
        shortName:
          type: string
          minLength: 1
          maxLength: 20
        fullName:
          type: string
          maxLength: 120
          default: ""
        brand:
          type: string
          maxLength: 120
          default: ""
        filterType:
          type: string
          enum:
            - broadband
            - narrowband
            - luminance
            - uv_ir_cut
            - light_pollution
            - photometric
            - other
        telescopeId:
          type:
            - string
            - "null"
          format: uuid
          default: null
          description: UUID
        size:
          type:
            - string
            - "null"
          maxLength: 40
          default: null
        shape:
          type:
            - string
            - "null"
          maxLength: 40
          default: null
        mountType:
          type:
            - string
            - "null"
          maxLength: 40
          default: null
        bandwidthNm:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        centerWavelengthNm:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        photometricBand:
          type: string
          enum:
            - U
            - B
            - V
            - Rc
            - Ic
            - g
            - r
            - i
            - z
            - clear
            - lum
            - none
          default: none
        transmissionPct:
          type:
            - number
            - "null"
          minimum: 0
          maximum: 100
          default: null
        thicknessMm:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        colorHex:
          type: string
          pattern: ^#[0-9a-fA-F]{6}$
          default: "#CCCCCC"
        defaultOnNewProject:
          type: boolean
          default: false
        defaultExposureS:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        defaultMoonProfileId:
          type:
            - string
            - "null"
          format: uuid
          default: null
          description: UUID
        notes:
          type: string
          maxLength: 4000
          default: ""
        id:
          type: string
          format: uuid
          description: UUID
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
        updatedAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - shortName
        - filterType
        - id
        - createdAt
        - updatedAt
      additionalProperties: false
    FilterCreate:
      type: object
      properties:
        shortName:
          type: string
          minLength: 1
          maxLength: 20
        fullName:
          type: string
          maxLength: 120
          default: ""
        brand:
          type: string
          maxLength: 120
          default: ""
        filterType:
          type: string
          enum:
            - broadband
            - narrowband
            - luminance
            - uv_ir_cut
            - light_pollution
            - photometric
            - other
        telescopeId:
          type:
            - string
            - "null"
          format: uuid
          default: null
          description: UUID
        size:
          type:
            - string
            - "null"
          maxLength: 40
          default: null
        shape:
          type:
            - string
            - "null"
          maxLength: 40
          default: null
        mountType:
          type:
            - string
            - "null"
          maxLength: 40
          default: null
        bandwidthNm:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        centerWavelengthNm:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        photometricBand:
          type: string
          enum:
            - U
            - B
            - V
            - Rc
            - Ic
            - g
            - r
            - i
            - z
            - clear
            - lum
            - none
          default: none
        transmissionPct:
          type:
            - number
            - "null"
          minimum: 0
          maximum: 100
          default: null
        thicknessMm:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        colorHex:
          type: string
          pattern: ^#[0-9a-fA-F]{6}$
          default: "#CCCCCC"
        defaultOnNewProject:
          type: boolean
          default: false
        defaultExposureS:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        defaultMoonProfileId:
          type:
            - string
            - "null"
          format: uuid
          default: null
          description: UUID
        notes:
          type: string
          maxLength: 4000
          default: ""
        id:
          type: string
          format: uuid
          description: UUID
      required:
        - shortName
        - filterType
        - id
      additionalProperties: false
    FilterInput:
      type: object
      properties:
        shortName:
          type: string
          minLength: 1
          maxLength: 20
        fullName:
          type: string
          maxLength: 120
          default: ""
        brand:
          type: string
          maxLength: 120
          default: ""
        filterType:
          type: string
          enum:
            - broadband
            - narrowband
            - luminance
            - uv_ir_cut
            - light_pollution
            - photometric
            - other
        telescopeId:
          type:
            - string
            - "null"
          format: uuid
          default: null
          description: UUID
        size:
          type:
            - string
            - "null"
          maxLength: 40
          default: null
        shape:
          type:
            - string
            - "null"
          maxLength: 40
          default: null
        mountType:
          type:
            - string
            - "null"
          maxLength: 40
          default: null
        bandwidthNm:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        centerWavelengthNm:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        photometricBand:
          type: string
          enum:
            - U
            - B
            - V
            - Rc
            - Ic
            - g
            - r
            - i
            - z
            - clear
            - lum
            - none
          default: none
        transmissionPct:
          type:
            - number
            - "null"
          minimum: 0
          maximum: 100
          default: null
        thicknessMm:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        colorHex:
          type: string
          pattern: ^#[0-9a-fA-F]{6}$
          default: "#CCCCCC"
        defaultOnNewProject:
          type: boolean
          default: false
        defaultExposureS:
          type:
            - number
            - "null"
          exclusiveMinimum: 0
          default: null
        defaultMoonProfileId:
          type:
            - string
            - "null"
          format: uuid
          default: null
          description: UUID
        notes:
          type: string
          maxLength: 4000
          default: ""
      required:
        - shortName
        - filterType
      additionalProperties: false
    MoonProfileView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        name:
          type: string
        description:
          type: string
        separationDeg:
          type: number
        widthDays:
          type: number
        relaxScale:
          type: number
        moonMinAltDeg:
          type: number
        moonMaxAltDeg:
          type: number
        maxIlluminationPct:
          type: number
        moonMustBeDown:
          type: boolean
        isBuiltIn:
          type: boolean
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - id
        - name
        - description
        - separationDeg
        - widthDays
        - relaxScale
        - moonMinAltDeg
        - moonMaxAltDeg
        - maxIlluminationPct
        - moonMustBeDown
        - isBuiltIn
        - createdAt
    MoonProfileCreate:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 1000
          default: ""
        separationDeg:
          type: number
          minimum: 0
          maximum: 180
        widthDays:
          type: number
          minimum: 0
        relaxScale:
          type: number
          minimum: 0
        moonMinAltDeg:
          type: number
          minimum: -90
          maximum: 90
        moonMaxAltDeg:
          type: number
          minimum: -90
          maximum: 90
        maxIlluminationPct:
          type: number
          minimum: 0
          maximum: 100
        moonMustBeDown:
          type: boolean
          default: false
        id:
          type: string
          format: uuid
          description: UUID
      required:
        - name
        - separationDeg
        - widthDays
        - relaxScale
        - moonMinAltDeg
        - moonMaxAltDeg
        - maxIlluminationPct
        - id
      additionalProperties: false
    MoonProfileInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 1000
          default: ""
        separationDeg:
          type: number
          minimum: 0
          maximum: 180
        widthDays:
          type: number
          minimum: 0
        relaxScale:
          type: number
          minimum: 0
        moonMinAltDeg:
          type: number
          minimum: -90
          maximum: 90
        moonMaxAltDeg:
          type: number
          minimum: -90
          maximum: 90
        maxIlluminationPct:
          type: number
          minimum: 0
          maximum: 100
        moonMustBeDown:
          type: boolean
          default: false
      required:
        - name
        - separationDeg
        - widthDays
        - relaxScale
        - moonMinAltDeg
        - moonMaxAltDeg
        - maxIlluminationPct
      additionalProperties: false
    ExposureTemplateView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        name:
          type: string
        telescopeId:
          type:
            - string
            - "null"
          format: uuid
          description: UUID
        cameraId:
          type:
            - string
            - "null"
          format: uuid
          description: UUID
        notes:
          type: string
        lines:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: UUID
              filterId:
                type:
                  - string
                  - "null"
                format: uuid
                description: UUID
              filterShortName:
                type: string
              exposureS:
                type: number
              plannedCount:
                type: integer
              gain:
                type:
                  - integer
                  - "null"
              offsetAdu:
                type:
                  - integer
                  - "null"
              binning:
                type: integer
              readoutMode:
                type:
                  - string
                  - "null"
              moonMode:
                type: string
                enum:
                  - profile
                  - project_default
                  - none
              moonProfileId:
                type:
                  - string
                  - "null"
                format: uuid
                description: UUID
              enabled:
                type: boolean
            required:
              - id
              - filterId
              - filterShortName
              - exposureS
              - plannedCount
              - gain
              - offsetAdu
              - binning
              - readoutMode
              - moonMode
              - moonProfileId
              - enabled
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
        updatedAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - id
        - name
        - telescopeId
        - cameraId
        - notes
        - lines
        - createdAt
        - updatedAt
    ExposureTemplateCreate:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        telescopeId:
          type:
            - string
            - "null"
          format: uuid
          default: null
          description: UUID
        cameraId:
          type:
            - string
            - "null"
          format: uuid
          default: null
          description: UUID
        notes:
          type: string
          maxLength: 4000
          default: ""
        lines:
          type: array
          items:
            type: object
            properties:
              filterId:
                type: string
                format: uuid
                description: UUID
              exposureS:
                type: number
                exclusiveMinimum: 0
              plannedCount:
                type: integer
                minimum: 0
              gain:
                type:
                  - integer
                  - "null"
                default: null
              offsetAdu:
                type:
                  - integer
                  - "null"
                default: null
              binning:
                type: integer
                minimum: 1
                maximum: 4
                default: 1
              readoutMode:
                type:
                  - string
                  - "null"
                maxLength: 60
                default: null
              moonMode:
                type: string
                enum:
                  - profile
                  - project_default
                  - none
                default: profile
              moonProfileId:
                type:
                  - string
                  - "null"
                format: uuid
                default: null
                description: UUID
              enabled:
                type: boolean
                default: true
            required:
              - filterId
              - exposureS
              - plannedCount
            additionalProperties: false
          maxItems: 50
          default: []
        id:
          type: string
          format: uuid
          description: UUID
      required:
        - name
        - id
      additionalProperties: false
    ExposureTemplateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        telescopeId:
          type:
            - string
            - "null"
          format: uuid
          default: null
          description: UUID
        cameraId:
          type:
            - string
            - "null"
          format: uuid
          default: null
          description: UUID
        notes:
          type: string
          maxLength: 4000
          default: ""
        lines:
          type: array
          items:
            type: object
            properties:
              filterId:
                type: string
                format: uuid
                description: UUID
              exposureS:
                type: number
                exclusiveMinimum: 0
              plannedCount:
                type: integer
                minimum: 0
              gain:
                type:
                  - integer
                  - "null"
                default: null
              offsetAdu:
                type:
                  - integer
                  - "null"
                default: null
              binning:
                type: integer
                minimum: 1
                maximum: 4
                default: 1
              readoutMode:
                type:
                  - string
                  - "null"
                maxLength: 60
                default: null
              moonMode:
                type: string
                enum:
                  - profile
                  - project_default
                  - none
                default: profile
              moonProfileId:
                type:
                  - string
                  - "null"
                format: uuid
                default: null
                description: UUID
              enabled:
                type: boolean
                default: true
            required:
              - filterId
              - exposureS
              - plannedCount
            additionalProperties: false
          maxItems: 50
          default: []
      required:
        - name
      additionalProperties: false
    RigView:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        siteId:
          type: string
          format: uuid
          description: UUID
        telescopeId:
          type: string
          format: uuid
          description: UUID
        cameraId:
          type: string
          format: uuid
          description: UUID
        showInPlanning:
          type: boolean
          default: true
        ninaDeliveryEnabled:
          type: boolean
          default: true
        defaultTemplateId:
          type:
            - string
            - "null"
          format: uuid
          default: null
          description: UUID
        defaultRotationDeg:
          type:
            - number
            - "null"
          minimum: 0
          exclusiveMaximum: 360
          default: null
        hasRotator:
          type: boolean
          default: false
        rotationToleranceDeg:
          type: number
          minimum: 0
          maximum: 90
          default: 5
        skipOnRotationMismatch:
          type: boolean
          default: false
        sessionReportDiscord:
          type: boolean
          default: false
        notes:
          type: string
          maxLength: 4000
          default: ""
        id:
          type: string
          format: uuid
          description: UUID
        scheduler:
          $ref: "#/components/schemas/SchedulerSettings"
        filterWheel:
          type: array
          items:
            $ref: "#/components/schemas/FilterWheelSlot"
        settingsVersion:
          type: integer
        derived:
          type: object
          properties:
            effFocalMm:
              type: number
            scaleArcsecPx:
              type: number
            fovWidthDeg:
              type: number
            fovHeightDeg:
              type: number
          required:
            - effFocalMm
            - scaleArcsecPx
            - fovWidthDeg
            - fovHeightDeg
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
        updatedAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - name
        - siteId
        - telescopeId
        - cameraId
        - id
        - scheduler
        - filterWheel
        - settingsVersion
        - derived
        - createdAt
        - updatedAt
      additionalProperties: false
    SchedulerSettings:
      type: object
      properties:
        strategy:
          type: string
          enum:
            - proportional
            - manual_priority
        playback:
          type: string
          enum:
            - time_aware
            - sequential
        sortChain:
          type: array
          items:
            type: string
            maxLength: 40
          maxItems: 8
        bonusEnabled:
          type: boolean
        overshootPct:
          type: number
          minimum: 0
          maximum: 100
        mosaicPanelsIndependent:
          type: boolean
        ditherEnabled:
          type: boolean
        ditherEvery:
          type: integer
          minimum: 1
          maximum: 100
        filterSwitchEnabled:
          type: boolean
        filterSwitchEvery:
          type: integer
          minimum: 1
          maximum: 100
        filterSwitchTolerancePct:
          type: number
          minimum: 0
          maximum: 100
        flatsEnabled:
          type: boolean
        flatsFullSet:
          type: boolean
        flatCount:
          type: integer
          minimum: 1
          maximum: 500
        darkFlatsEnabled:
          type: boolean
        darkFlatCount:
          type:
            - integer
            - "null"
          minimum: 1
          maximum: 500
        flatsSource:
          type: string
          enum:
            - panel
            - sky
        flipEnabled:
          type: boolean
        flipAfterMeridianMin:
          type: number
          minimum: 0
          maximum: 120
        flipMaxAfterMeridianMin:
          type: number
          minimum: 0
          maximum: 240
        flipPauseBeforeMeridianMin:
          type: number
          minimum: 0
          maximum: 120
        flipDurationS:
          type: number
          minimum: 0
          maximum: 3600
        overhead:
          type: object
          properties:
            slewCenterS:
              type: number
              minimum: 0
              maximum: 3600
              default: 120
            filterChangeS:
              type: number
              minimum: 0
              maximum: 600
              default: 10
            ditherSettleS:
              type: number
              minimum: 0
              maximum: 600
              default: 20
            afEveryMin:
              type: number
              minimum: 0
              maximum: 1440
              default: 60
            afDurationS:
              type: number
              minimum: 0
              maximum: 3600
              default: 180
            downloadS:
              type: number
              minimum: 0
              maximum: 600
              default: 5
          additionalProperties: false
      required:
        - strategy
        - playback
        - sortChain
        - bonusEnabled
        - overshootPct
        - mosaicPanelsIndependent
        - ditherEnabled
        - ditherEvery
        - filterSwitchEnabled
        - filterSwitchEvery
        - filterSwitchTolerancePct
        - flatsEnabled
        - flatsFullSet
        - flatCount
        - darkFlatsEnabled
        - darkFlatCount
        - flatsSource
        - flipEnabled
        - flipAfterMeridianMin
        - flipMaxAfterMeridianMin
        - flipPauseBeforeMeridianMin
        - flipDurationS
        - overhead
      additionalProperties: false
    FilterWheelSlot:
      type: object
      properties:
        position:
          type: integer
          minimum: 1
          maximum: 20
        filterId:
          type:
            - string
            - "null"
          format: uuid
          description: UUID
        ninaFilterName:
          type:
            - string
            - "null"
          maxLength: 60
        ninaConfirmedAt:
          type:
            - string
            - "null"
          format: date-time
          example: 2026-09-18T13:00:00Z
        ninaConfirmedBy:
          type:
            - string
            - "null"
          format: uuid
          description: UUID
      required:
        - position
        - filterId
        - ninaFilterName
        - ninaConfirmedAt
        - ninaConfirmedBy
    RigCreate:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        siteId:
          type: string
          format: uuid
          description: UUID
        telescopeId:
          type: string
          format: uuid
          description: UUID
        cameraId:
          type: string
          format: uuid
          description: UUID
        showInPlanning:
          type: boolean
          default: true
        ninaDeliveryEnabled:
          type: boolean
          default: true
        defaultTemplateId:
          type:
            - string
            - "null"
          format: uuid
          default: null
          description: UUID
        defaultRotationDeg:
          type:
            - number
            - "null"
          minimum: 0
          exclusiveMaximum: 360
          default: null
        hasRotator:
          type: boolean
          default: false
        rotationToleranceDeg:
          type: number
          minimum: 0
          maximum: 90
          default: 5
        skipOnRotationMismatch:
          type: boolean
          default: false
        sessionReportDiscord:
          type: boolean
          default: false
        notes:
          type: string
          maxLength: 4000
          default: ""
        id:
          type: string
          format: uuid
          description: UUID
      required:
        - name
        - siteId
        - telescopeId
        - cameraId
        - id
      additionalProperties: false
    RigInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        siteId:
          type: string
          format: uuid
          description: UUID
        telescopeId:
          type: string
          format: uuid
          description: UUID
        cameraId:
          type: string
          format: uuid
          description: UUID
        showInPlanning:
          type: boolean
          default: true
        ninaDeliveryEnabled:
          type: boolean
          default: true
        defaultTemplateId:
          type:
            - string
            - "null"
          format: uuid
          default: null
          description: UUID
        defaultRotationDeg:
          type:
            - number
            - "null"
          minimum: 0
          exclusiveMaximum: 360
          default: null
        hasRotator:
          type: boolean
          default: false
        rotationToleranceDeg:
          type: number
          minimum: 0
          maximum: 90
          default: 5
        skipOnRotationMismatch:
          type: boolean
          default: false
        sessionReportDiscord:
          type: boolean
          default: false
        notes:
          type: string
          maxLength: 4000
          default: ""
      required:
        - name
        - siteId
        - telescopeId
        - cameraId
      additionalProperties: false
    FilterWheelView:
      type: object
      properties:
        slots:
          type: array
          items:
            type: object
            properties:
              position:
                type: integer
                minimum: 1
                maximum: 20
              filterId:
                type:
                  - string
                  - "null"
                format: uuid
                description: UUID
              ninaFilterName:
                type:
                  - string
                  - "null"
                maxLength: 60
              ninaConfirmedAt:
                type:
                  - string
                  - "null"
                format: date-time
                example: 2026-09-18T13:00:00Z
              ninaConfirmedBy:
                type:
                  - string
                  - "null"
                format: uuid
                description: UUID
              reportedName:
                type:
                  - string
                  - "null"
              suggestion:
                type:
                  - string
                  - "null"
              suggestedFilterId:
                type:
                  - string
                  - "null"
                format: uuid
                description: UUID
              changedByNina:
                type: boolean
            required:
              - position
              - filterId
              - ninaFilterName
              - ninaConfirmedAt
              - ninaConfirmedBy
              - reportedName
              - suggestion
              - suggestedFilterId
              - changedByNina
        reported:
          type:
            - object
            - "null"
          properties:
            slots:
              type: array
              items:
                type: object
                properties:
                  position:
                    type: integer
                  name:
                    type: string
                  focusOffset:
                    type:
                      - number
                      - "null"
                required:
                  - position
                  - name
                  - focusOffset
            reportedAt:
              type:
                - string
                - "null"
              format: date-time
              example: 2026-09-18T13:00:00Z
          required:
            - slots
            - reportedAt
        settingsVersion:
          type: integer
      required:
        - slots
        - reported
        - settingsVersion
    FilterWheelPut:
      type: object
      properties:
        slots:
          type: array
          items:
            type: object
            properties:
              position:
                type: integer
                minimum: 1
                maximum: 20
              filterId:
                type:
                  - string
                  - "null"
                format: uuid
                description: UUID
              ninaFilterName:
                type:
                  - string
                  - "null"
                minLength: 1
                maxLength: 60
            required:
              - position
              - filterId
              - ninaFilterName
            additionalProperties: false
          maxItems: 20
      required:
        - slots
      additionalProperties: false
    SiteNightsView:
      type: object
      properties:
        currentNight:
          type: string
          format: date
        tzdataVersion:
          type: string
        timeZoneTransitions:
          type: array
          items:
            type: object
            properties:
              atUtc:
                type: string
                format: date-time
                example: 2026-09-18T13:00:00Z
              utcOffsetMinutes:
                type: integer
            required:
              - atUtc
              - utcOffsetMinutes
        nights:
          type: array
          items:
            type: object
            properties:
              night:
                type: string
                format: date
              noonStartUtc:
                type: string
                format: date-time
                example: 2026-09-18T13:00:00Z
              noonEndUtc:
                type: string
                format: date-time
                example: 2026-09-18T13:00:00Z
              nightWindowEndUtc:
                type: string
                format: date-time
                example: 2026-09-18T13:00:00Z
            required:
              - night
              - noonStartUtc
              - noonEndUtc
              - nightWindowEndUtc
      required:
        - currentNight
        - tzdataVersion
        - timeZoneTransitions
        - nights
    ProjectListItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        name:
          type: string
        projectType:
          type: string
          enum:
            - deep_sky
            - exoplanet
        rigId:
          type:
            - string
            - "null"
          format: uuid
          description: UUID
        createdBy:
          type: string
          format: uuid
          description: UUID
        targetName:
          type:
            - string
            - "null"
        targetType:
          type:
            - string
            - "null"
        catalogNames:
          type: string
        raDeg:
          type:
            - number
            - "null"
        decDeg:
          type:
            - number
            - "null"
        rotationDeg:
          type: number
        startDate:
          type:
            - string
            - "null"
          format: date
          example: 2026-09-18
        dueDate:
          type:
            - string
            - "null"
          format: date
          example: 2026-09-18
        requestPeriodFrom:
          type:
            - string
            - "null"
          format: date
          example: 2026-09-18
        requestPeriodTo:
          type:
            - string
            - "null"
          format: date
          example: 2026-09-18
        requestComment:
          type:
            - string
            - "null"
        conditions:
          type: object
          properties:
            minAltitudeDeg:
              type: number
              minimum: 0
              maximum: 90
              default: 30
            minTimeOnTargetH:
              type: number
              exclusiveMinimum: 0
              maximum: 24
              default: 1
            twilight:
              type: string
              enum:
                - astronomical
                - nautical
                - civil
              default: astronomical
            moonAvoidanceEnabled:
              type: boolean
              default: false
            moonMustBeDown:
              type: boolean
              default: false
            moonSeparationDeg:
              type: number
              minimum: 0
              maximum: 180
              default: 60
            moonWidthDays:
              type: number
              minimum: 0
              default: 5
            moonRelaxScale:
              type: number
              minimum: 0
              default: 2
            moonMinAltDeg:
              type: number
              minimum: -90
              maximum: 90
              default: -15
            moonMaxAltDeg:
              type: number
              minimum: -90
              maximum: 90
              default: 5
            moonMaxIlluminationPct:
              type: number
              minimum: 0
              maximum: 100
              default: 60
          additionalProperties: false
        approvalStatus:
          type: string
          enum:
            - draft
            - submitted
            - approved
            - returned
            - rejected
        status:
          type:
            - string
            - "null"
          enum:
            - planning
            - active
            - on_hold
            - ready_to_process
            - unfinished
            - completed
            - archived
            - null
        priority:
          type: integer
        effortStale:
          type: boolean
        effort:
          $ref: "#/components/schemas/EffortView"
        favorite:
          type: boolean
        version:
          type: integer
        deletedAt:
          type:
            - string
            - "null"
          format: date-time
          example: 2026-09-18T13:00:00Z
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
        updatedAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
        progress:
          type: object
          properties:
            targetReached:
              type: boolean
            finished:
              type: boolean
            planningNeed:
              type: integer
            percentDone:
              type: number
            plannedS:
              type: number
            integrationS:
              type: number
          required:
            - targetReached
            - finished
            - planningNeed
            - percentDone
            - plannedS
            - integrationS
        createdByName:
          type: string
        panelCount:
          type: integer
        filters:
          type: array
          items:
            $ref: "#/components/schemas/FilterPlanSummary"
      required:
        - id
        - name
        - projectType
        - rigId
        - createdBy
        - targetName
        - targetType
        - catalogNames
        - raDeg
        - decDeg
        - rotationDeg
        - startDate
        - dueDate
        - requestPeriodFrom
        - requestPeriodTo
        - requestComment
        - conditions
        - approvalStatus
        - status
        - priority
        - effortStale
        - effort
        - favorite
        - version
        - deletedAt
        - createdAt
        - updatedAt
        - progress
        - createdByName
        - panelCount
        - filters
    EffortView:
      type:
        - object
        - "null"
      properties:
        tag:
          type:
            - string
            - "null"
          enum:
            - single_night
            - multi_night
            - not_feasible
            - transit
            - null
        nights:
          type:
            - integer
            - "null"
          minimum: 0
        earliestCompletion:
          type:
            - string
            - "null"
          format: date
          example: 2026-09-18
        achievablePct:
          type:
            - integer
            - "null"
          minimum: 0
          maximum: 100
        requiredHours:
          type:
            - number
            - "null"
          minimum: 0
        bestNight:
          type:
            - string
            - "null"
          format: date
          example: 2026-09-18
        bestNightHoursByStage:
          type: array
          items:
            type: object
            properties:
              moonProfileId:
                type:
                  - string
                  - "null"
              filters:
                type: array
                items:
                  type: string
              hours:
                type: number
                minimum: 0
            required:
              - moonProfileId
              - filters
              - hours
        limitingFactor:
          $ref: "#/components/schemas/EffortLimitingFactor"
        fullyObservable:
          type:
            - boolean
            - "null"
        coveragePct:
          type:
            - integer
            - "null"
          minimum: 0
          maximum: 100
        fromNight:
          type:
            - string
            - "null"
          format: date
          example: 2026-09-18
        toNight:
          type:
            - string
            - "null"
          format: date
          example: 2026-09-18
        stride:
          type: integer
          minimum: 1
        engineVersion:
          type: string
        computedAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - tag
        - nights
        - earliestCompletion
        - achievablePct
        - requiredHours
        - bestNight
        - bestNightHoursByStage
        - limitingFactor
        - fullyObservable
        - coveragePct
        - fromNight
        - toNight
        - stride
        - engineVersion
        - computedAt
    EffortLimitingFactor:
      type:
        - object
        - "null"
      properties:
        lineId:
          type: string
        filterShortName:
          type: string
        reason:
          type:
            - string
            - "null"
          enum:
            - start_date
            - not_visible
            - below_min_time
            - moon_blocked
            - prefiltered
            - outranked
            - no_need
            - transit_conflict
            - flip_in_transit
            - filter_not_found
            - rotation_mismatch
            - null
      required:
        - lineId
        - filterShortName
        - reason
    FilterPlanSummary:
      type: object
      properties:
        filterId:
          type:
            - string
            - "null"
          format: uuid
          description: UUID
        filterShortName:
          type: string
        exposureS:
          type: number
        planned:
          type: integer
        accepted:
          type: integer
        lines:
          type: integer
      required:
        - filterId
        - filterShortName
        - exposureS
        - planned
        - accepted
        - lines
    ProjectView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        name:
          type: string
        projectType:
          type: string
          enum:
            - deep_sky
            - exoplanet
        rigId:
          type:
            - string
            - "null"
          format: uuid
          description: UUID
        createdBy:
          type: string
          format: uuid
          description: UUID
        targetName:
          type:
            - string
            - "null"
        targetType:
          type:
            - string
            - "null"
        catalogNames:
          type: string
        descriptionMd:
          type: string
        raDeg:
          type:
            - number
            - "null"
        decDeg:
          type:
            - number
            - "null"
        rotationDeg:
          type: number
        startDate:
          type:
            - string
            - "null"
          format: date
          example: 2026-09-18
        dueDate:
          type:
            - string
            - "null"
          format: date
          example: 2026-09-18
        requestPeriodFrom:
          type:
            - string
            - "null"
          format: date
          example: 2026-09-18
        requestPeriodTo:
          type:
            - string
            - "null"
          format: date
          example: 2026-09-18
        requestComment:
          type:
            - string
            - "null"
        conditions:
          type: object
          properties:
            minAltitudeDeg:
              type: number
              minimum: 0
              maximum: 90
              default: 30
            minTimeOnTargetH:
              type: number
              exclusiveMinimum: 0
              maximum: 24
              default: 1
            twilight:
              type: string
              enum:
                - astronomical
                - nautical
                - civil
              default: astronomical
            moonAvoidanceEnabled:
              type: boolean
              default: false
            moonMustBeDown:
              type: boolean
              default: false
            moonSeparationDeg:
              type: number
              minimum: 0
              maximum: 180
              default: 60
            moonWidthDays:
              type: number
              minimum: 0
              default: 5
            moonRelaxScale:
              type: number
              minimum: 0
              default: 2
            moonMinAltDeg:
              type: number
              minimum: -90
              maximum: 90
              default: -15
            moonMaxAltDeg:
              type: number
              minimum: -90
              maximum: 90
              default: 5
            moonMaxIlluminationPct:
              type: number
              minimum: 0
              maximum: 100
              default: 60
          additionalProperties: false
        approvalStatus:
          type: string
          enum:
            - draft
            - submitted
            - approved
            - returned
            - rejected
        status:
          type:
            - string
            - "null"
          enum:
            - planning
            - active
            - on_hold
            - ready_to_process
            - unfinished
            - completed
            - archived
            - null
        priority:
          type: integer
        effortStale:
          type: boolean
        effort:
          $ref: "#/components/schemas/EffortView"
        favorite:
          type: boolean
        version:
          type: integer
        deletedAt:
          type:
            - string
            - "null"
          format: date-time
          example: 2026-09-18T13:00:00Z
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
        updatedAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
        progress:
          type: object
          properties:
            targetReached:
              type: boolean
            finished:
              type: boolean
            planningNeed:
              type: integer
            percentDone:
              type: number
            plannedS:
              type: number
            integrationS:
              type: number
          required:
            - targetReached
            - finished
            - planningNeed
            - percentDone
            - plannedS
            - integrationS
        panels:
          type: array
          items:
            $ref: "#/components/schemas/PanelView"
      required:
        - id
        - name
        - projectType
        - rigId
        - createdBy
        - targetName
        - targetType
        - catalogNames
        - descriptionMd
        - raDeg
        - decDeg
        - rotationDeg
        - startDate
        - dueDate
        - requestPeriodFrom
        - requestPeriodTo
        - requestComment
        - conditions
        - approvalStatus
        - status
        - priority
        - effortStale
        - effort
        - favorite
        - version
        - deletedAt
        - createdAt
        - updatedAt
        - progress
        - panels
    PanelView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        panelIndex:
          type: integer
        label:
          type: string
        raDeg:
          type: number
        decDeg:
          type: number
        rotationDeg:
          type: number
        notes:
          type: string
        lines:
          type: array
          items:
            $ref: "#/components/schemas/LineView"
      required:
        - id
        - panelIndex
        - label
        - raDeg
        - decDeg
        - rotationDeg
        - notes
        - lines
    LineView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        panelId:
          type: string
          format: uuid
          description: UUID
        filterId:
          type:
            - string
            - "null"
          format: uuid
          description: UUID
        filterShortName:
          type: string
        exposureS:
          type: number
        plannedCount:
          type: integer
        gain:
          type:
            - integer
            - "null"
        offsetAdu:
          type:
            - integer
            - "null"
        binning:
          type: integer
        readoutMode:
          type:
            - string
            - "null"
        moonMode:
          type: string
          enum:
            - profile
            - project_default
            - none
        moonProfileId:
          type:
            - string
            - "null"
          format: uuid
          description: UUID
        enabled:
          type: boolean
        orderIndex:
          type: integer
        notes:
          type: string
        hasCaptures:
          type: boolean
        counters:
          type: object
          properties:
            planned:
              type: integer
            acquired:
              type: integer
            rejected:
              type: integer
            accepted:
              type: integer
            remaining:
              type: integer
            planningNeed:
              type: integer
            bonus:
              type: integer
            bonusRejected:
              type: integer
            percentDone:
              type: number
            integrationS:
              type: number
          required:
            - planned
            - acquired
            - rejected
            - accepted
            - remaining
            - planningNeed
            - bonus
            - bonusRejected
            - percentDone
            - integrationS
      required:
        - id
        - panelId
        - filterId
        - filterShortName
        - exposureS
        - plannedCount
        - gain
        - offsetAdu
        - binning
        - readoutMode
        - moonMode
        - moonProfileId
        - enabled
        - orderIndex
        - notes
        - hasCaptures
        - counters
    ProjectCreate:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        name:
          type: string
          minLength: 1
          maxLength: 200
        rigId:
          type:
            - string
            - "null"
          format: uuid
          default: null
          description: UUID
        targetName:
          type:
            - string
            - "null"
          maxLength: 200
          default: null
        targetType:
          type:
            - string
            - "null"
          maxLength: 40
          default: null
        catalogNames:
          type: string
          maxLength: 500
          default: ""
        descriptionMd:
          type: string
          maxLength: 20000
          default: ""
        raDeg:
          type:
            - number
            - "null"
          minimum: 0
          exclusiveMaximum: 360
          default: null
        decDeg:
          type:
            - number
            - "null"
          minimum: -90
          maximum: 90
          default: null
        rotationDeg:
          type: number
          minimum: 0
          exclusiveMaximum: 360
          default: 0
        startDate:
          type:
            - string
            - "null"
          format: date
          default: null
          example: 2026-09-18
        dueDate:
          type:
            - string
            - "null"
          format: date
          default: null
          example: 2026-09-18
        requestPeriodFrom:
          type:
            - string
            - "null"
          format: date
          default: null
          example: 2026-09-18
        requestPeriodTo:
          type:
            - string
            - "null"
          format: date
          default: null
          example: 2026-09-18
        requestComment:
          type:
            - string
            - "null"
          maxLength: 4000
          default: null
        conditions:
          type: object
          properties:
            minAltitudeDeg:
[...]
