openapi: 3.1.0
info:
  title: Svenesis NINA-PM API
  version: "1"
  description: "Generiert aus packages/shared (zod) – nicht von Hand ändern. Fehler als application/problem+json mit Codes aus docs/contracts/errors.json. Nicht-GET unter /api/auth, /api/web/v1, /api/system/v1 verlangt X-NPM-Request: 1 (SV-04)."
servers:
  - url: https://nina-pm.svenesis.org
components:
  schemas:
    PublicBanner:
      type: object
      properties:
        banner:
          type:
            - object
            - "null"
          properties:
            de:
              type: string
            en:
              type: string
          required:
            - de
            - en
      required:
        - banner
    InvitationClaimResponse:
      type: object
      properties:
        tenantName:
          type: string
        role:
          type: string
          enum:
            - owner
            - admin
            - user
      required:
        - tenantName
        - role
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        code:
          type: string
          enum:
            - validation.failed
            - auth.unauthenticated
            - auth.no_membership
            - auth.identity_blocked
            - auth.mfa_required
            - auth.csrf_missing
            - auth.rate_limited
            - permission.denied
            - tenant.not_found
            - tenant.locked
            - resource.not_found
            - resource.version_conflict
            - resource.in_use
            - invitation.invalid
            - invitation.expired
            - invitation.already_member
            - member.owner_protected
            - super_user.last_protected
            - member.cannot_change_self
            - member.owner_cannot_leave
            - owner_transfer.target_invalid
            - approval.not_allowed
            - approval.own_object
            - approval.incomplete
            - approval.rig_conflict
            - vote.own_object
            - vote.closed
            - ranking.incomplete
            - change_request.conflict
            - change_request.not_open
            - transit.lock_not_allowed
            - transit.deadline_passed
            - rig.sort_chain_invalid
            - rig.flip_settings_invalid
            - discord.webhook_invalid
            - discord.test_failed
            - job.not_found
            - file.too_large
            - file.type_not_allowed
            - nina.token_invalid
            - engine.incompatible
            - session.rig_busy
            - session.unknown
            - session.closed
            - capture.batch_too_large
            - plan.targets_etag_mismatch
            - canonical.non_finite
            - system.maintenance
            - internal.error
            - transit.share_mismatch
            - transit.too_many_open
            - transit.window_overlap
            - transit.ephemeris_stale
            - exo.epoch_out_of_range
            - transit.result_time_system
            - validation.min_time_too_small
            - project.status_transition_invalid
            - rig.change_has_captures
            - correction.conflict
            - capture.assign_mismatch
            - line.locked_by_captures
            - nina.night_invalid
            - engine.input_invalid
        requestId:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              path:
                type: string
              message:
                type: string
            required:
              - path
              - message
      required:
        - type
        - title
        - status
        - code
    InvitationClaimRequest:
      type: object
      properties:
        token:
          type: string
          pattern: ^[A-Za-z0-9_-]{43}$
      required:
        - token
    InvitationPreview:
      type: object
      properties:
        tenantName:
          type: string
        role:
          type: string
          enum:
            - owner
            - admin
            - user
        expiresAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - tenantName
        - role
        - expiresAt
    InvitationPreviewRequest:
      type: object
      properties:
        token:
          type: string
          pattern: ^[A-Za-z0-9_-]{43}$
      required:
        - token
    MeResponse:
      type: object
      properties:
        identity:
          type: object
          properties:
            id:
              type: string
              format: uuid
              description: UUID
            discordUserId:
              type: string
            username:
              type: string
            globalName:
              type:
                - string
                - "null"
            avatarHash:
              type:
                - string
                - "null"
            mfa:
              type: boolean
          required:
            - id
            - discordUserId
            - username
            - globalName
            - avatarHash
            - mfa
        context:
          type: string
          enum:
            - tenant
            - system
            - select
        tenant:
          type:
            - object
            - "null"
          properties:
            id:
              type: string
              format: uuid
              description: UUID
            key:
              type: string
            name:
              type: string
            timeZone:
              type: string
          required:
            - id
            - key
            - name
            - timeZone
        member:
          type:
            - object
            - "null"
          properties:
            id:
              type: string
              format: uuid
              description: UUID
            displayName:
              type: string
            role:
              type: string
              enum:
                - owner
                - admin
                - user
            effectiveRole:
              type: string
              enum:
                - admin
                - user
          required:
            - id
            - displayName
            - role
            - effectiveRole
        isSuperUser:
          type: boolean
        mfaRequired:
          type: boolean
        memberships:
          type: array
          items:
            type: object
            properties:
              tenantKey:
                type: string
              tenantName:
                type: string
              role:
                type: string
                enum:
                  - owner
                  - admin
                  - user
            required:
              - tenantKey
              - tenantName
              - role
      required:
        - identity
        - context
        - tenant
        - member
        - isSuperUser
        - mfaRequired
        - memberships
    ContextRequest:
      anyOf:
        - type: object
          properties:
            tenantKey:
              type: string
              pattern: ^[a-z0-9-]{3,32}$
          required:
            - tenantKey
          additionalProperties: false
        - type: object
          properties:
            system:
              type: boolean
              enum:
                - true
          required:
            - system
          additionalProperties: false
    SessionList:
      type: object
      properties:
        sessions:
          type: array
          items:
            $ref: "#/components/schemas/SessionView"
      required:
        - sessions
    SessionView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        current:
          type: boolean
        device:
          type:
            - string
            - "null"
        ipTruncated:
          type:
            - string
            - "null"
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
        lastSeenAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - id
        - current
        - device
        - ipTruncated
        - createdAt
        - lastSeenAt
    JobView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        kind:
          type: string
          enum:
            - multi_sim
            - impact
            - effort
            - session_close
            - session_report
            - discord_post
            - export
            - import
            - thumbnail
            - transit_result_parse
            - catalog_refresh
            - forecast
            - reconcile
            - weather
            - noop
        status:
          type: string
          enum:
            - pending
            - running
            - done
            - failed
        attempts:
          type: integer
        errorCode:
          type:
            - string
            - "null"
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
        startedAt:
          type:
            - string
            - "null"
          format: date-time
          example: 2026-09-18T13:00:00Z
        finishedAt:
          type:
            - string
            - "null"
          format: date-time
          example: 2026-09-18T13:00:00Z
        hasResult:
          type: boolean
      required:
        - id
        - kind
        - status
        - attempts
        - errorCode
        - createdAt
        - startedAt
        - finishedAt
        - hasResult
    DownloadUrl:
      type: object
      properties:
        url:
          type: string
          format: uri
        expiresAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - url
        - expiresAt
    MemberView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        displayName:
          type: string
        discordUsername:
          type: string
        avatarHash:
          type:
            - string
            - "null"
        role:
          type: string
          enum:
            - owner
            - admin
            - user
        status:
          type: string
          enum:
            - active
            - disabled
            - removed
        mfa:
          type: boolean
        rightsDormant:
          type: boolean
        lastLoginAt:
          type:
            - string
            - "null"
          format: date-time
          example: 2026-09-18T13:00:00Z
        objects:
          type: object
          properties:
            draft:
              type: integer
            submitted:
              type: integer
            approved:
              type: integer
          required:
            - draft
            - submitted
            - approved
      required:
        - id
        - displayName
        - discordUsername
        - avatarHash
        - role
        - status
        - mfa
        - rightsDormant
        - lastLoginAt
        - objects
    MemberPatch:
      type: object
      properties:
        displayName:
          type: string
          minLength: 1
          maxLength: 80
        status:
          type: string
          enum:
            - active
            - disabled
      additionalProperties: false
    RoleChangeRequest:
      type: object
      properties:
        role:
          type: string
          enum:
            - admin
            - user
        reason:
          type: string
          maxLength: 500
      required:
        - role
      additionalProperties: false
    OwnerTransferRequest:
      type: object
      properties:
        memberId:
          type: string
          format: uuid
          description: UUID
      required:
        - memberId
      additionalProperties: false
    InvitationCreated:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        role:
          type: string
          enum:
            - owner
            - admin
            - user
        link:
          type: string
          format: uri
        expiresAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - id
        - role
        - link
        - expiresAt
    CreateUserInvitationRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        discordUserId:
          type: string
          pattern: ^\d{5,25}$
        validDays:
          type: integer
          minimum: 1
          maximum: 30
          default: 7
        note:
          type: string
          maxLength: 500
        maxUses:
          type: integer
          minimum: 1
          maximum: 50
          default: 1
      required:
        - id
      additionalProperties: false
    CreateSingleUseInvitationRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        discordUserId:
          type: string
          pattern: ^\d{5,25}$
        validDays:
          type: integer
          minimum: 1
          maximum: 30
          default: 7
        note:
          type: string
          maxLength: 500
      required:
        - id
      additionalProperties: false
    InvitationView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        role:
          type: string
          enum:
            - owner
            - admin
            - user
        discordUserId:
          type:
            - string
            - "null"
        note:
          type:
            - string
            - "null"
        maxUses:
          type: integer
        usedCount:
          type: integer
        expiresAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
        revokedAt:
          type:
            - string
            - "null"
          format: date-time
          example: 2026-09-18T13:00:00Z
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
        ownerOnly:
          type: boolean
      required:
        - id
        - role
        - discordUserId
        - note
        - maxUses
        - usedCount
        - expiresAt
        - revokedAt
        - createdAt
        - ownerOnly
    Preferences:
      type: object
      properties:
        ui.theme:
          type: string
          enum:
            - light
            - dark
        ui.density:
          type: string
          enum:
            - compact
            - normal
            - wide
        ui.navCollapsed:
          type: boolean
    PreferenceValue:
      type: object
      properties:
        value: {}
    NotificationList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/NotificationView"
        unreadCount:
          type: integer
        nextCursor:
          type:
            - string
            - "null"
      required:
        - items
        - unreadCount
        - nextCursor
    NotificationView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        kind:
          type: string
          enum:
            - submission.new
            - submission.withdrawn
            - submission.edited_by_admin
            - approval.approved
            - approval.returned
            - approval.rejected
            - approval.expired
            - deadline.near
            - change_request.new
            - change_request.decided
            - vote.subject_changed
            - vote.subject_resubmitted
            - project.completed
            - transit.confirmation_needed
            - role.changed
            - owner.reassigned
            - alert.rig_busy
            - alert.session_no_heartbeat
            - alert.plugin_dead_letters
            - alert.nina_settings_mismatch
            - alert.discord_channel_failed
        payload:
          type: object
          additionalProperties: {}
        projectId:
          type:
            - string
            - "null"
          format: uuid
          description: UUID
        readAt:
          type:
            - string
            - "null"
          format: date-time
          example: 2026-09-18T13:00:00Z
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - id
        - kind
        - payload
        - projectId
        - readAt
        - createdAt
    UnreadCount:
      type: object
      properties:
        unreadCount:
          type: integer
      required:
        - unreadCount
    MarkNotificationsRead:
      anyOf:
        - type: object
          properties:
            ids:
              type: array
              items:
                type: string
                format: uuid
                description: UUID
              minItems: 1
              maxItems: 200
          required:
            - ids
          additionalProperties: false
        - type: object
          properties:
            all:
              type: boolean
              enum:
                - true
          required:
            - all
          additionalProperties: false
    SystemAuditList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/SystemAuditEntry"
        nextCursor:
          type:
            - string
            - "null"
      required:
        - items
        - nextCursor
    SystemAuditEntry:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        actor:
          type: string
          enum:
            - super_user
            - ops_cli
        actorName:
          type:
            - string
            - "null"
        tenantId:
          type:
            - string
            - "null"
          format: uuid
          description: UUID
        tenantKey:
          type:
            - string
            - "null"
        action:
          type: string
        details:
          type: object
          additionalProperties: {}
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - id
        - actor
        - actorName
        - tenantId
        - tenantKey
        - action
        - details
        - createdAt
    TenantAdminView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        tenantKey:
          type: string
        displayName:
          type: string
        contact:
          type:
            - string
            - "null"
        status:
          type: string
          enum:
            - active
            - locked
        ownerMemberId:
          type:
            - string
            - "null"
          format: uuid
          description: UUID
        ownerDisplayName:
          type:
            - string
            - "null"
        admins:
          type: integer
        users:
          type: integer
        rigs:
          type: integer
        ninaInstances:
          type: integer
        ninaLastSeenAt:
          type:
            - string
            - "null"
          format: date-time
          example: 2026-09-18T13:00:00Z
        lastLoginAt:
          type:
            - string
            - "null"
          format: date-time
          example: 2026-09-18T13:00:00Z
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - id
        - tenantKey
        - displayName
        - contact
        - status
        - ownerMemberId
        - ownerDisplayName
        - admins
        - users
        - rigs
        - ninaInstances
        - ninaLastSeenAt
        - lastLoginAt
        - createdAt
    CreateTenantRequest:
      type: object
      properties:
        tenantKey:
          type: string
          pattern: ^[a-z0-9-]{3,32}$
        displayName:
          type: string
          minLength: 1
          maxLength: 120
        contact:
          type: string
          maxLength: 200
      required:
        - tenantKey
        - displayName
    TenantStatusPatch:
      type: object
      properties:
        status:
          type: string
          enum:
            - active
            - locked
      required:
        - status
    OwnerReassignRequest:
      anyOf:
        - type: object
          properties:
            memberId:
              type: string
              format: uuid
              description: UUID
            reason:
              type: string
              minLength: 1
              maxLength: 500
            keepPreviousAsAdmin:
              type: boolean
              default: false
          required:
            - memberId
            - reason
          additionalProperties: false
        - type: object
          properties:
            invite:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                  description: UUID
                discordUserId:
                  type: string
                  pattern: ^\d{5,25}$
                validDays:
                  type: integer
                  minimum: 1
                  maximum: 30
                  default: 7
              required:
                - id
              additionalProperties: false
            reason:
              type: string
              minLength: 1
              maxLength: 500
            keepPreviousAsAdmin:
              type: boolean
              default: false
          required:
            - invite
            - reason
          additionalProperties: false
    SystemMemberView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        displayName:
          type: string
        role:
          type: string
          enum:
            - owner
            - admin
            - user
        status:
          type: string
          enum:
            - active
            - disabled
            - removed
      required:
        - id
        - displayName
        - role
        - status
    SuperUserView:
      type: object
      properties:
        identityId:
          type: string
          format: uuid
          description: UUID
        discordUserId:
          type: string
        discordUsername:
          type: string
        status:
          type: string
          enum:
            - active
            - disabled
        mfa:
          type: boolean
        createdAt:
          type: string
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - identityId
        - discordUserId
        - discordUsername
        - status
        - mfa
        - createdAt
    AddSuperUserRequest:
      type: object
      properties:
        discordUserId:
          type: string
          pattern: ^\d{5,25}$
      required:
        - discordUserId
      additionalProperties: false
    SuperUserPatch:
      type: object
      properties:
        status:
          type: string
          enum:
            - active
            - disabled
      required:
        - status
      additionalProperties: false
    IdentityStatusPatch:
      type: object
      properties:
        status:
          type: string
          enum:
            - active
            - blocked
      required:
        - status
      additionalProperties: false
    DeleteTenantRequest:
      type: object
      properties:
        confirmTenantKey:
          type: string
          maxLength: 64
      required:
        - confirmTenantKey
      additionalProperties: false
    SystemSettingView:
      type: object
      properties:
        key:
          type: string
          enum:
            - maintenanceBanner
        value: {}
        updatedAt:
          type:
            - string
            - "null"
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - key
        - updatedAt
    IdentityAdminView:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        discordUserId:
          type: string
        discordUsername:
          type: string
        globalName:
          type:
            - string
            - "null"
        status:
          type: string
          enum:
            - active
            - blocked
        isSuperUser:
          type: boolean
        lastLoginAt:
          type:
            - string
            - "null"
          format: date-time
          example: 2026-09-18T13:00:00Z
      required:
        - id
        - discordUserId
        - discordUsername
        - globalName
        - status
        - isSuperUser
        - lastLoginAt
  parameters: {}
paths:
  /api/health:
    get:
      summary: Health (öffentlich, ohne DB-Ping)
      tags:
        - system
      description: "Aktion: `public` · SV-07, TK 4.2"
      x-npm-action: public
      x-npm-requirements:
        - SV-07
        - TK 4.2
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - ok
                  engineVersion:
                    type: string
                  build:
                    type: string
                required:
                  - status
                  - engineVersion
                  - build
  /api/banner:
    get:
      summary: Aktiver Wartungshinweis (öffentlich)
      tags:
        - system
      description: "Aktion: `public` · FA-SU-08"
      x-npm-action: public
      x-npm-requirements:
        - FA-SU-08
      responses:
        "200":
          description: Hinweis
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicBanner"
  /api/auth/discord/start:
    get:
      summary: Anmeldung mit Discord beginnen (state + PKCE S256 im signierten Cookie)
      tags:
        - auth
      description: "Aktion: `public` · TK 5.2, FA-LOG-01, FA-LOG-05, SV-02"
      x-npm-action: public
      x-npm-requirements:
        - TK 5.2
        - FA-LOG-01
        - FA-LOG-05
        - SV-02
      parameters:
        - schema:
            type: string
            maxLength: 2048
          required: false
          name: next
          in: query
        - schema:
            type: string
            maxLength: 64
          required: false
          name: mandant
          in: query
      responses:
        "302":
          description: Weiterleitung zu Discord
          headers:
            Location:
              schema:
                type: string
  /api/auth/discord/callback:
    get:
      summary: "Rückkehr von Discord: state/PKCE prüfen, Identität, Einladung, Sitzung"
      tags:
        - auth
      description: "Aktion: `public` · TK 5.2, FA-LOG-01, FA-LOG-05, SV-02, FA-LOG-02, FA-LOG-07, FA-SU-01"
      x-npm-action: public
      x-npm-requirements:
        - TK 5.2
        - FA-LOG-01
        - FA-LOG-05
        - SV-02
        - FA-LOG-02
        - FA-LOG-07
        - FA-SU-01
      parameters:
        - schema:
            type: string
            maxLength: 512
          required: false
          name: code
          in: query
        - schema:
            type: string
            maxLength: 512
          required: false
          name: state
          in: query
        - schema:
            type: string
            maxLength: 256
          required: false
          name: error
          in: query
      responses:
        "302":
          description: Weiterleitung zu `next`, `/mandant-waehlen`, `/kein-zugang` oder `/?anmeldung=fehler`
          headers:
            Location:
              schema:
                type: string
  /api/auth/invitation/claim:
    post:
      summary: Einladungslink vormerken (Cookie __Host-npm_invite, 15 min); eingelöst wird im Callback
      tags:
        - auth
      description: "Aktion: `public` · TK 5.2, FA-BEN-01, DAT5-15"
      x-npm-action: public
      x-npm-requirements:
        - TK 5.2
        - FA-BEN-01
        - DAT5-15
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvitationClaimRequest"
      responses:
        "200":
          description: Einladung gültig
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationClaimResponse"
        "404":
          description: invitation.invalid
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "410":
          description: invitation.expired
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/auth/invitations/preview:
    post:
      summary: Vorschau eines Einladungslinks (Token im Body, nicht im Pfad)
      tags:
        - auth
      description: "Aktion: `public` · TK 7.2, FA-BEN-01, DAT-20"
      x-npm-action: public
      x-npm-requirements:
        - TK 7.2
        - FA-BEN-01
        - DAT-20
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvitationPreviewRequest"
      responses:
        "200":
          description: Vorschau
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationPreview"
        "404":
          description: invitation.invalid
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "410":
          description: invitation.expired
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/auth/context:
    post:
      summary: Mandant bzw. System-Kontext wählen (dieselbe Sitzungszeile)
      tags:
        - auth
      description: "Aktion: `public` (mit Sitzung) · TK 5.2, FA-LOG-02, FA-SU-02"
      x-npm-action: public
      x-npm-session: required
      x-npm-requirements:
        - TK 5.2
        - FA-LOG-02
        - FA-SU-02
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContextRequest"
      responses:
        "200":
          description: Neuer Kontext
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: auth.no_membership, auth.mfa_required, tenant.locked, permission.denied
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: tenant.not_found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/auth/logout:
    post:
      summary: "Abmelden: Sitzungszeile löschen, Cookie entfernen"
      tags:
        - auth
      description: "Aktion: `public` · TK 5.3, FA-LOG-06"
      x-npm-action: public
      x-npm-requirements:
        - TK 5.3
        - FA-LOG-06
      responses:
        "204":
          description: Abgemeldet
  /api/auth/me:
    get:
      summary: Angemeldete Person, Kontext, wirksame Rolle und mfaRequired
      tags:
        - auth
      description: "Aktion: `public` (mit Sitzung) · TK 5.3, FA-LOG-07, FA-LOG-10"
      x-npm-action: public
      x-npm-session: required
      x-npm-requirements:
        - TK 5.3
        - FA-LOG-07
        - FA-LOG-10
      responses:
        "200":
          description: Ich
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: auth.identity_blocked
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/auth/sessions:
    get:
      summary: Eigene Anmeldesitzungen
      tags:
        - auth
      description: "Aktion: `public` (mit Sitzung) · TK 5.3, FA-LOG-08, SV-11"
      x-npm-action: public
      x-npm-session: required
      x-npm-requirements:
        - TK 5.3
        - FA-LOG-08
        - SV-11
      responses:
        "200":
          description: Sitzungen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionList"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
    delete:
      summary: Überall abmelden (alle eigenen Sitzungen, sofort wirksam)
      tags:
        - auth
      description: "Aktion: `public` (mit Sitzung) · TK 5.3, FA-LOG-08"
      x-npm-action: public
      x-npm-session: required
      x-npm-requirements:
        - TK 5.3
        - FA-LOG-08
      responses:
        "204":
          description: Beendet
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/auth/sessions/{id}:
    delete:
      summary: Eigene Sitzung beenden (sofort wirksam)
      tags:
        - auth
      description: "Aktion: `public` (mit Sitzung) · TK 5.3, FA-LOG-08"
      x-npm-action: public
      x-npm-session: required
      x-npm-requirements:
        - TK 5.3
        - FA-LOG-08
      parameters:
        - schema:
            type: string
            format: uuid
            description: UUID
          required: true
          description: UUID
          name: id
          in: path
      responses:
        "204":
          description: Beendet
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: resource.not_found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/web/v1/jobs/{id}:
    get:
      summary: Job-Status abfragen
      tags:
        - jobs
      description: "Aktion: `job.read` · TK 7.4, FA-SIM-04, FA-FRG-05"
      x-npm-action: job.read
      x-npm-requirements:
        - TK 7.4
        - FA-SIM-04
        - FA-FRG-05
      parameters:
        - schema:
            type: string
            format: uuid
            description: UUID
          required: true
          description: UUID
          name: id
          in: path
      responses:
        "200":
          description: Job
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobView"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Keine Berechtigung
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: job.not_found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/web/v1/files/download-url:
    get:
      summary: Download-Link (presigned GET, 15 min) über Zweck und Objekt-ID
      tags:
        - files
      description: "Aktion: `job.read` · TK 12, SEC-57, FA-ADM-04"
      x-npm-action: job.read
      x-npm-requirements:
        - TK 12
        - SEC-57
        - FA-ADM-04
      parameters:
        - schema:
            type: string
            enum:
              - job_result
              - export
          required: true
          name: purpose
          in: query
        - schema:
            type: string
            format: uuid
            description: UUID
          required: true
          description: UUID
          name: id
          in: query
      responses:
        "200":
          description: Link
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadUrl"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Keine Berechtigung
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Objekt nicht gefunden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/web/v1/members:
    get:
      summary: Mitgliederliste
      tags:
        - members
      description: "Aktion: `member.manage` · FA-BEN-04"
      x-npm-action: member.manage
      x-npm-requirements:
        - FA-BEN-04
      responses:
        "200":
          description: Mitglieder
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: "#/components/schemas/MemberView"
                required:
                  - members
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Keine Berechtigung
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/web/v1/members/{id}:
    patch:
      summary: Anzeigename bzw. Status (aktiv/deaktiviert) ändern
      tags:
        - members
      description: "Aktion: `member.manage` · FA-BEN-02, FA-BEN-08"
      x-npm-action: member.manage
      x-npm-requirements:
        - FA-BEN-02
        - FA-BEN-08
      parameters:
        - schema:
            type: string
            format: uuid
            description: UUID
          required: true
          description: UUID
          name: id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MemberPatch"
      responses:
        "204":
          description: Geändert
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Keine Berechtigung
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: resource.not_found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "409":
          description: member.owner_protected, member.cannot_change_self, member.owner_cannot_leave
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
    delete:
      summary: Mitglied entfernen
      tags:
        - members
      description: "Aktion: `member.manage` · FA-BEN-02, FA-BEN-08"
      x-npm-action: member.manage
      x-npm-requirements:
        - FA-BEN-02
        - FA-BEN-08
      parameters:
        - schema:
            type: string
            format: uuid
            description: UUID
          required: true
          description: UUID
          name: id
          in: path
      responses:
        "204":
          description: Entfernt
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Keine Berechtigung
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: resource.not_found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "409":
          description: member.owner_protected, member.cannot_change_self, member.owner_cannot_leave
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/web/v1/members/{id}/role:
    put:
      summary: Admin ernennen oder entziehen (nur Owner)
      tags:
        - members
      description: "Aktion: `member.manage` · FA-BEN-06, FA-BEN-08, E2"
      x-npm-action: member.manage
      x-npm-requirements:
        - FA-BEN-06
        - FA-BEN-08
        - E2
      parameters:
        - schema:
            type: string
            format: uuid
            description: UUID
          required: true
          description: UUID
          name: id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoleChangeRequest"
      responses:
        "204":
          description: Geändert
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Keine Berechtigung
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: resource.not_found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "409":
          description: member.owner_protected, member.cannot_change_self, member.owner_cannot_leave
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/web/v1/members/{id}/sessions:
    delete:
      summary: Anmeldesitzungen eines Mitglieds in diesem Mandanten beenden (nie für den Owner)
      tags:
        - members
      description: "Aktion: `member.manage` · TK 5.3, FA-BEN-08"
      x-npm-action: member.manage
      x-npm-requirements:
        - TK 5.3
        - FA-BEN-08
      parameters:
        - schema:
            type: string
            format: uuid
            description: UUID
          required: true
          description: UUID
          name: id
          in: path
      responses:
        "204":
          description: Beendet
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Keine Berechtigung
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: resource.not_found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "409":
          description: member.owner_protected, member.cannot_change_self, member.owner_cannot_leave
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/web/v1/me/leave:
    post:
      summary: Mandant verlassen (nicht für den Owner)
      tags:
        - members
      description: "Aktion: `member.leave` · FA-BEN-10"
      x-npm-action: member.leave
      x-npm-requirements:
        - FA-BEN-10
      responses:
        "204":
          description: Verlassen
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Keine Berechtigung
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "409":
          description: member.owner_protected, member.cannot_change_self, member.owner_cannot_leave
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/web/v1/tenant/owner-transfer:
    post:
      summary: Owner sofort an einen aktiven Admin übertragen
      tags:
        - members
      description: "Aktion: `tenant.owner.transfer` · FA-BEN-09, E2"
      x-npm-action: tenant.owner.transfer
      x-npm-requirements:
        - FA-BEN-09
        - E2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OwnerTransferRequest"
      responses:
        "204":
          description: Übertragen
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Keine Berechtigung
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "422":
          description: owner_transfer.target_invalid
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/web/v1/invitations:
    post:
      summary: User-Einladung (Rolle fest `user`)
      tags:
        - invitations
      description: "Aktion: `member.manage` · FA-BEN-01, SEC-50"
      x-npm-action: member.manage
      x-npm-requirements:
        - FA-BEN-01
        - SEC-50
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserInvitationRequest"
      responses:
        "201":
          description: Einladung (Link nur einmal)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationCreated"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Keine Berechtigung
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "409":
          description: resource.in_use
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
    get:
      summary: Einladungen des Mandanten
      tags:
        - invitations
      description: "Aktion: `member.manage` · FA-BEN-01, FA-BEN-04"
      x-npm-action: member.manage
      x-npm-requirements:
        - FA-BEN-01
        - FA-BEN-04
      responses:
        "200":
          description: Einladungen
          content:
            application/json:
              schema:
                type: object
                properties:
                  invitations:
                    type: array
                    items:
                      $ref: "#/components/schemas/InvitationView"
                required:
                  - invitations
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Keine Berechtigung
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/web/v1/invitations/admin:
    post:
      summary: Admin-Einladung (nur Owner, eine Nutzung)
      tags:
        - invitations
      description: "Aktion: `member.admin.manage` · FA-BEN-01, FA-BEN-06, SEC-50"
      x-npm-action: member.admin.manage
      x-npm-requirements:
        - FA-BEN-01
        - FA-BEN-06
        - SEC-50
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSingleUseInvitationRequest"
      responses:
        "201":
          description: Einladung (Link nur einmal)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationCreated"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Keine Berechtigung
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "409":
          description: resource.in_use
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/web/v1/invitations/{id}:
    delete:
      summary: Einladung widerrufen (Einladungen des Owners nur durch den Owner)
      tags:
        - invitations
      description: "Aktion: `member.manage` · FA-BEN-01, FA-BEN-08"
      x-npm-action: member.manage
      x-npm-requirements:
        - FA-BEN-01
        - FA-BEN-08
      parameters:
        - schema:
            type: string
            format: uuid
            description: UUID
          required: true
          description: UUID
          name: id
          in: path
      responses:
        "204":
          description: Widerrufen
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Keine Berechtigung
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: resource.not_found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/web/v1/me/preferences:
    get:
      summary: Persönliche Einstellungen (Theme, Dichte, Navigation)
      tags:
        - me
      description: "Aktion: `me.preferences` · TK 7.2, TK 11.3"
      x-npm-action: me.preferences
      x-npm-requirements:
        - TK 7.2
        - TK 11.3
      responses:
        "200":
          description: Einstellungen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Preferences"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein Mandanten-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/web/v1/me/preferences/{key}:
    put:
      summary: Eine persönliche Einstellung setzen
      tags:
        - me
      description: "Aktion: `me.preferences` · TK 7.2, TK 11.3"
      x-npm-action: me.preferences
      x-npm-requirements:
        - TK 7.2
        - TK 11.3
      parameters:
        - schema:
            type: string
            enum:
              - ui.theme
              - ui.density
              - ui.navCollapsed
          required: true
          name: key
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PreferenceValue"
      responses:
        "204":
          description: Gespeichert
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein Mandanten-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "422":
          description: validation.failed
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/web/v1/notifications:
    get:
      summary: Eigene Benachrichtigungen (neueste zuerst) mit Anzahl ungelesener
      tags:
        - notifications
      description: "Aktion: `notification.read` · FA-FRG-11, TK 7.2"
      x-npm-action: notification.read
      x-npm-requirements:
        - FA-FRG-11
        - TK 7.2
      parameters:
        - schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          required: false
          name: limit
          in: query
        - schema:
            type: string
            maxLength: 200
          required: false
          name: cursor
          in: query
        - schema:
            type: string
            enum:
              - "true"
              - "false"
          required: false
          name: unread
          in: query
      responses:
        "200":
          description: Benachrichtigungen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationList"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein Mandanten-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/web/v1/notifications/read:
    post:
      summary: Eigene Benachrichtigungen als gelesen markieren (einzelne oder alle)
      tags:
        - notifications
      description: "Aktion: `notification.read` · FA-FRG-11, TK 7.2"
      x-npm-action: notification.read
      x-npm-requirements:
        - FA-FRG-11
        - TK 7.2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarkNotificationsRead"
      responses:
        "200":
          description: Verbleibende ungelesene
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnreadCount"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein Mandanten-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/web/v1/audit/system:
    get:
      summary: Super-User-Aktionen, die den eigenen Mandanten betreffen (neueste zuerst)
      tags:
        - audit
      description: "Aktion: `tenant.settings` · FA-SU-09, TK 7.2"
      x-npm-action: tenant.settings
      x-npm-requirements:
        - FA-SU-09
        - TK 7.2
      parameters:
        - schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          required: false
          name: limit
          in: query
        - schema:
            type: string
            maxLength: 512
          required: false
          name: cursor
          in: query
      responses:
        "200":
          description: Einträge
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemAuditList"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Nur Admins
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/system/v1/tenants:
    get:
      summary: Mandantenliste
      tags:
        - system
      description: "Aktion: `system.manage` · FA-SU-03"
      x-npm-action: system.manage
      x-npm-requirements:
        - FA-SU-03
      responses:
        "200":
          description: Mandanten
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenants:
                    type: array
                    items:
                      $ref: "#/components/schemas/TenantAdminView"
                required:
                  - tenants
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein System-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
    post:
      summary: Mandant anlegen (mit Built-in-Mondprofilen)
      tags:
        - system
      description: "Aktion: `system.manage` · TK 5.4, FA-SU-04, FA-MAN-01"
      x-npm-action: system.manage
      x-npm-requirements:
        - TK 5.4
        - FA-SU-04
        - FA-MAN-01
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTenantRequest"
      responses:
        "201":
          description: Angelegt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantAdminView"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein System-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "409":
          description: resource.in_use (Mandanten-ID vergeben)
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/system/v1/tenants/{id}:
    patch:
      summary: Mandant sperren/entsperren
      tags:
        - system
      description: "Aktion: `system.manage` · TK 5.4, FA-SU-04, FA-MAN-02"
      x-npm-action: system.manage
      x-npm-requirements:
        - TK 5.4
        - FA-SU-04
        - FA-MAN-02
      parameters:
        - schema:
            type: string
            format: uuid
            description: UUID
          required: true
          description: UUID
          name: id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TenantStatusPatch"
      responses:
        "200":
          description: Geändert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantAdminView"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein System-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: tenant.not_found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
    delete:
      summary: Mandant mit allen Daten löschen (nur mit exakter Mandanten-ID)
      tags:
        - system
      description: "Aktion: `system.manage` · FA-MAN-03, FA-SU-04, E4"
      x-npm-action: system.manage
      x-npm-requirements:
        - FA-MAN-03
        - FA-SU-04
        - E4
      parameters:
        - schema:
            type: string
            format: uuid
            description: UUID
          required: true
          description: UUID
          name: id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteTenantRequest"
      responses:
        "204":
          description: Gelöscht
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein System-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: tenant.not_found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "422":
          description: validation.failed (Mandanten-ID stimmt nicht)
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/system/v1/tenants/{id}/invitations:
    post:
      summary: Owner-Einladung (eine Nutzung, optional an eine Discord-ID gebunden)
      tags:
        - system
      description: "Aktion: `system.manage` · FA-SU-05, E3"
      x-npm-action: system.manage
      x-npm-requirements:
        - FA-SU-05
        - E3
      parameters:
        - schema:
            type: string
            format: uuid
            description: UUID
          required: true
          description: UUID
          name: id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSingleUseInvitationRequest"
      responses:
        "201":
          description: Einladung (Link nur einmal)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationCreated"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein System-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: tenant.not_found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/system/v1/tenants/{id}/owner:
    put:
      summary: Owner im Notfall neu zuweisen (Mitglied oder neue Owner-Einladung)
      tags:
        - system
      description: "Aktion: `system.tenant.owner` · FA-SU-05, TK 5.5"
      x-npm-action: system.tenant.owner
      x-npm-requirements:
        - FA-SU-05
        - TK 5.5
      parameters:
        - schema:
            type: string
            format: uuid
            description: UUID
          required: true
          description: UUID
          name: id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OwnerReassignRequest"
      responses:
        "200":
          description: Neu zugewiesen
          content:
            application/json:
              schema:
                type: object
                properties:
                  invitation:
                    $ref: "#/components/schemas/InvitationCreated"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein System-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: tenant.not_found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "422":
          description: owner_transfer.target_invalid
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/system/v1/tenants/{id}/members:
    get:
      summary: Mitglieder für die Owner-Neuzuweisung (nur Anzeigename, Rolle, Status)
      tags:
        - system
      description: "Aktion: `system.manage` · FA-SU-05, FA-SU-07"
      x-npm-action: system.manage
      x-npm-requirements:
        - FA-SU-05
        - FA-SU-07
      parameters:
        - schema:
            type: string
            format: uuid
            description: UUID
          required: true
          description: UUID
          name: id
          in: path
      responses:
        "200":
          description: Mitglieder
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: "#/components/schemas/SystemMemberView"
                required:
                  - members
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein System-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/system/v1/super-users:
    get:
      summary: Super User
      tags:
        - system
      description: "Aktion: `system.manage` · FA-SU-06"
      x-npm-action: system.manage
      x-npm-requirements:
        - FA-SU-06
      responses:
        "200":
          description: Super User
          content:
            application/json:
              schema:
                type: object
                properties:
                  superUsers:
                    type: array
                    items:
                      $ref: "#/components/schemas/SuperUserView"
                required:
                  - superUsers
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein System-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
    post:
      summary: Super User hinzufügen (Identität muss sich einmal angemeldet haben)
      tags:
        - system
      description: "Aktion: `system.manage` · FA-SU-06"
      x-npm-action: system.manage
      x-npm-requirements:
        - FA-SU-06
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddSuperUserRequest"
      responses:
        "204":
          description: Hinzugefügt
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein System-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: resource.not_found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/system/v1/super-users/{id}:
    patch:
      summary: Super User aktivieren/deaktivieren (letzter aktiver geschützt)
      tags:
        - system
      description: "Aktion: `system.manage` · FA-SU-06"
      x-npm-action: system.manage
      x-npm-requirements:
        - FA-SU-06
      parameters:
        - schema:
            type: string
            format: uuid
            description: UUID
          required: true
          description: UUID
          name: id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SuperUserPatch"
      responses:
        "204":
          description: Geändert
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein System-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: resource.not_found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "409":
          description: super_user.last_protected
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
    delete:
      summary: Super User entfernen (deaktiviert; Zeile bleibt für das System-Audit; letzter aktiver geschützt)
      tags:
        - system
      description: "Aktion: `system.manage` · FA-SU-06"
      x-npm-action: system.manage
      x-npm-requirements:
        - FA-SU-06
      parameters:
        - schema:
            type: string
            format: uuid
            description: UUID
          required: true
          description: UUID
          name: id
          in: path
      responses:
        "204":
          description: Entfernt
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein System-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: resource.not_found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "409":
          description: super_user.last_protected
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/system/v1/identities/{id}:
    patch:
      summary: Identität systemweit sperren/entsperren (beendet alle Sitzungen)
      tags:
        - system
      description: "Aktion: `system.manage` · FA-LOG-05"
      x-npm-action: system.manage
      x-npm-requirements:
        - FA-LOG-05
      parameters:
        - schema:
            type: string
            format: uuid
            description: UUID
          required: true
          description: UUID
          name: id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityStatusPatch"
      responses:
        "204":
          description: Geändert
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein System-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: resource.not_found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/system/v1/audit:
    get:
      summary: System-Audit (neueste zuerst, optional je Mandant)
      tags:
        - system
      description: "Aktion: `system.manage` · FA-SU-09, SV-11"
      x-npm-action: system.manage
      x-npm-requirements:
        - FA-SU-09
        - SV-11
      parameters:
        - schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          required: false
          name: limit
          in: query
        - schema:
            type: string
            maxLength: 200
          required: false
          name: cursor
          in: query
        - schema:
            type: string
            format: uuid
            description: UUID
          required: false
          description: UUID
          name: tenantId
          in: query
      responses:
        "200":
          description: Einträge
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemAuditList"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein System-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/system/v1/settings/{key}:
    get:
      summary: Systemweite Einstellung lesen
      tags:
        - system
      description: "Aktion: `system.manage` · FA-SU-08"
      x-npm-action: system.manage
      x-npm-requirements:
        - FA-SU-08
      parameters:
        - schema:
            type: string
            enum:
              - maintenanceBanner
          required: true
          name: key
          in: path
      responses:
        "200":
          description: Wert
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemSettingView"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein System-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
    put:
      summary: Systemweite Einstellung setzen (u. a. Wartungsbanner)
      tags:
        - system
      description: "Aktion: `system.manage` · FA-SU-08"
      x-npm-action: system.manage
      x-npm-requirements:
        - FA-SU-08
      parameters:
        - schema:
            type: string
            enum:
              - maintenanceBanner
          required: true
          name: key
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value: {}
              additionalProperties: false
      responses:
        "200":
          description: Gesetzt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemSettingView"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein System-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "422":
          description: validation.failed
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  /api/system/v1/identities:
    get:
      summary: Identität über die Discord-User-ID finden (zum Sperren)
      tags:
        - system
      description: "Aktion: `system.manage` · FA-LOG-05"
      x-npm-action: system.manage
      x-npm-requirements:
        - FA-LOG-05
      parameters:
        - schema:
            type: string
            pattern: ^\d{5,25}$
          required: true
          name: discordUserId
          in: query
      responses:
        "200":
          description: Identität
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentityAdminView"
        "401":
          description: Nicht angemeldet
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "403":
          description: Kein System-Kontext
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: resource.not_found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
webhooks: {}
